In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy
import sklearn
import sqlite3 as sql
import sqlalchemy
from sklearn.preprocessing import StandardScaler


import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import datasets
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
import pickle
import joblib
from lightgbm import LGBMRegressor
from sklearn.metrics import mean_squared_error

from sklearn import linear_model
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import Ridge
from sklearn.svm import SVR
from sklearn.linear_model import SGDRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import RandomizedSearchCV

#  cargar los datos sin escalar

In [25]:
connection = sql.connect("../Data/diamonds_train.db")

In [26]:
print(pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", connection))

                     name
0     diamonds_dimensions
1  diamonds_transactional
2     diamonds_properties
3            diamonds_cut
4          diamonds_color
5        diamonds_clarity
6           diamonds_city

In [27]:
query1= 'SELECT * FROM diamonds_dimensions'
df_dimensions = pd.read_sql_query(query1, connection)
df_dimensions

,index_id,depth,table,x,y,z
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,62.4,58.0,6.83,6.79,4.25
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,63.0,57.0,4.35,4.38,2.75
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,65.5,55.0,5.62,5.53,3.65
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,63.8,56.0,4.68,4.72,3.00
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,60.5,59.0,6.55,6.51,3.95
...,...,...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,62.7,57.0,7.10,7.04,4.43
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,57.1,60.0,8.31,8.25,4.73
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,62.7,56.0,6.37,6.42,4.01
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,61.9,54.3,4.45,4.47,2.76
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,62.0,58.0,6.83,6.88,4.25

In [28]:
query2= 'SELECT * FROM diamonds_transactional'
df_transactional = pd.read_sql_query(query2, connection)
df_transactional

,index_id,price,city_id,carat
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,4268,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.21
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,505,89c7286890f7347ab235234e74d406596a127ae3679042...,0.32
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,2686,2bd25cd960aba8b706e2b67f2bb38b750ee5384b0e9883...,0.71
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,738,89c7286890f7347ab235234e74d406596a127ae3679042...,0.41
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,4882,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.02
...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,10070,ca3aa21a5b70c3e88cc6336682c8c7da928a0c66a5ead4...,1.34
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,12615,e9c722cbefc2f055ae60b4e2cbe73a2d99537eab0c37f3...,2.02
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,5457,89c7286890f7347ab235234e74d406596a127ae3679042...,1.01
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,456,89c7286890f7347ab235234e74d406596a127ae3679042...,0.33
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,6232,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,1.24

In [29]:
query3= 'SELECT * FROM diamonds_properties'
df_properties = pd.read_sql_query(query3, connection)
df_properties

,index_id,cut_id,color_id,clarity_id
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,388655e25e91872329272fc10128ef5354b3b19a05d7e8...,44bd7ae60f478fae1061e11a7739f4b94d1daf917982d3...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,f7b19afcde965ea4942b878d266f89f8ba9a5a833e60f7...,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,c939327ca16dcf97ca32521d8b834bf1de16573d21deda...,3f39d5c348e5b79d06e842c114e6cc571583bbf44e4b0e...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...
...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,c939327ca16dcf97ca32521d8b834bf1de16573d21deda...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,03c358cbd92e83278fd523f58dc6a9b4b198d00728af65...
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,44bd7ae60f478fae1061e11a7739f4b94d1daf917982d3...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,a83dd0ccbffe39d071cc317ddf6e97f5c6b1c87af91919...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...

In [30]:
query4= 'SELECT * FROM diamonds_cut'
df_cut = pd.read_sql_query(query4, connection)
df_cut

                                              cut_id        cut
0  388655e25e91872329272fc10128ef5354b3b19a05d7e8...  Very Good
1  4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...      Ideal
2  c939327ca16dcf97ca32521d8b834bf1de16573d21deda...       Good
3  de88c121a82a06352bf1aaceba20578356408a334ba046...    Premium
4  f7b19afcde965ea4942b878d266f89f8ba9a5a833e60f7...       Fair

In [31]:
query5= 'SELECT * FROM diamonds_color'
df_color = pd.read_sql_query(query5, connection)
df_color

                                            color_id color
0  333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...     G
1  3f39d5c348e5b79d06e842c114e6cc571583bbf44e4b0e...     D
2  44bd7ae60f478fae1061e11a7739f4b94d1daf917982d3...     H
3  6da43b944e494e885e69af021f93c6d9331c78aa228084...     J
4  a83dd0ccbffe39d071cc317ddf6e97f5c6b1c87af91919...     I
5  a9f51566bd6705f7ea6ad54bb9deb449f795582d6529a0...     E
6  f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...     F

In [32]:
query6= 'SELECT * FROM diamonds_clarity'
df_clarity = pd.read_sql_query(query6, connection)
df_clarity

                                          clarity_id clarity
0  03c358cbd92e83278fd523f58dc6a9b4b198d00728af65...     SI2
1  3f9db06236e9719b61c826b612b882fa702ec81574e44c...    VVS2
2  66686ae1f0c9c400ba32dc600a34ff0aa173395bcbc2d8...    VVS1
3  7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...      IF
4  bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...     SI1
5  c2818bc4e5ec4ae4a357a0df6fed73652e169ec676f7d4...      I1
6  ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...     VS1
7  f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...     VS2

In [33]:
query7= 'SELECT * FROM diamonds_city'
df_city = pd.read_sql_query(query7, connection)
df_city

                                              city_id           city
0   0013c01fe0d094209b8bd3d23b8f96dbabcd01ddd2a039...      Amsterdam
1   1e73b1647343b286269d517e6f07e6e07ccef10cd7b785...         Zurich
2   2bd25cd960aba8b706e2b67f2bb38b750ee5384b0e9883...      Las Vegas
3   5a59ef2e40c5f89adb8c0c6ad0a8019b0e252fff530cf2...  New York City
4   5dd272b4f316b776a7b8e3d0894b37e1e42be3d5d3b204...          Paris
5   68371d5bdaab31b5cbc25fbf94b8f9c1238294fc50e715...       Tel Aviv
6   6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...          Dubai
7   89c7286890f7347ab235234e74d406596a127ae3679042...       Kimberly
8   ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...          Surat
9   ca3aa21a5b70c3e88cc6336682c8c7da928a0c66a5ead4...        Antwerp
10  e9c722cbefc2f055ae60b4e2cbe73a2d99537eab0c37f3...         Madrid
11  ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...         London
12  ed76f191621cf6ed77eab6a8013d1cb4bdfa89a75a24aa...     Luxembourg

In [34]:
join1 = df_dimensions.merge(df_transactional , on = "index_id")
join2 = join1.merge(df_properties , on = "index_id")
join3 = join2.merge(df_cut , on = "cut_id")
join4 = join3.merge(df_color, on = "color_id")
join5 = join4.merge(df_clarity, on = "clarity_id")
join6 = join5.merge(df_city, on = "city_id")

In [35]:
join6

,index_id,depth,table,x,y,z,price,city_id,carat,cut_id,color_id,clarity_id,cut,color,clarity,city
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,62.4,58.0,6.83,6.79,4.25,4268,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.21,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2,Dubai
1,41667f6e2629360aecaf00b20f8732e3310417ebd54b24...,61.6,58.0,6.40,6.35,3.93,3513,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.02,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2,Dubai
2,01f8667f50d52677bea23231a74156e4f92360d7bc3db6...,62.3,58.0,5.86,5.80,3.63,1792,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,0.77,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2,Dubai
3,c3867352aab641358faec75d733af012dbe2259a014ea8...,59.6,60.0,7.58,7.48,4.49,7553,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.51,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2,Dubai
4,0da4b104c4d8589fcb96a03aa0787549a2631935b0f499...,60.2,62.0,5.40,5.33,3.23,1176,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,0.57,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2,Dubai
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,3df6f3da962b819057888dbbe3cf4d11f9a59261ba0af7...,62.2,54.0,5.24,5.27,3.27,2729,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.54,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF,Surat
40451,e5bc95d36abda5bfd67641eca60f2ab92f37b27c0397e0...,61.9,54.0,5.22,5.25,3.24,2802,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.53,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF,Surat
40452,5ad0fcca0db9b3d399e31a3d909a1a3f4da38c663256b3...,62.3,55.0,4.30,4.34,2.69,886,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.30,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF,Surat
40453,c8559278b1ac356e1e414320a4efbbe788dc16623e7873...,60.9,55.0,4.15,4.23,2.55,768,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.26,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF,Surat
40454,d7e77869948ba7500ca20937afd59c8f9b7a0238adb814...,61.2,56.0,4.37,4.42,2.69,921,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.31,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF,Surat

In [36]:
df_final = join6.loc[:, ["carat", 'cut', 'color', 'clarity',"price", 'depth', "table", "x", "y", "z"]]
df_test  = df_final[(df_final["z"] == 0)]
df_test.drop("z", axis=1, inplace=True)
df_final = df_final[(df_final["z"] != 0)]
df_test

/Users/mohamedelmarraki/miniconda3/envs/ironhack/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

       carat      cut color clarity  price  depth  table     x     y
1949    1.10  Premium     G     SI2   3696   63.0   59.0  6.50  6.47
5469    1.15    Ideal     G     VS2   5564   59.2   56.0  6.88  6.83
7374    1.01  Premium     F     SI2   3837   59.2   58.0  6.50  6.47
10984   1.14     Fair     G     VS1   6381   57.5   67.0  0.00  0.00
13192   2.02  Premium     H     VS2  18207   62.7   53.0  8.02  7.95
14800   1.00  Premium     G     SI2   3142   59.1   59.0  6.55  6.48
15050   0.71     Good     F     SI2   2130   64.1   60.0  0.00  0.00
17581   1.50     Good     G      I1   4731   64.0   61.0  7.15  7.04
21805   2.80     Good     G     SI2  18788   63.8   58.0  8.90  8.85
22008   2.25  Premium     H     SI2  18034   62.8   59.0  0.00  0.00
22218   0.71     Good     F     SI2   2130   64.1   60.0  0.00  0.00
22237   1.07    Ideal     F     SI2   4954   61.6   56.0  0.00  6.62
23802   2.25  Premium     I     SI1  15397   61.3   58.0  8.52  8.42
32508   1.01  Premium     H      I1   3167   58.1   59.0  6.66  6.60
37816   2.20  Premium     H     SI1  17265   61.2   59.0  8.42  8.37
39536   2.18  Premium     H     SI2  12631   59.4   61.0  8.49  8.45

# codificar los valores de otra manera

In [37]:
from sklearn.preprocessing import OrdinalEncoder

# Creamos el codificador indicandole el orden de la variables
encoder = OrdinalEncoder(categories=[["X", 'J', 'I', 'H', 'G', 'F', 'E', 'D']])

# Ajustamos el codificador con la variable education y la transformamos
encoder.fit(df_final[["color"]])
df_final["color-encoded"] = encoder.transform(df_final[["color"]])
df_final.drop("color", axis = 1 , inplace = True)

In [38]:
from sklearn.preprocessing import OrdinalEncoder

# Creamos el codificador indicandole el orden de la variables
encoder = OrdinalEncoder(categories=[["X", 'Fair', 'Good', 'Very Good', 'Premium', 'Ideal']])

# Ajustamos el codificador con la variable education y la transformamos
encoder.fit(df_final[["cut"]])
df_final["cut-encoded"] = encoder.transform(df_final[["cut"]])
df_final.drop("cut", axis = 1 , inplace = True)

In [39]:
from sklearn.preprocessing import OrdinalEncoder

# Creamos el codificador indicandole el orden de la variables
encoder = OrdinalEncoder(categories=[["X", "I1", 'SI2', 'SI1', 'VS2', 'VS1', 'VVS2', 'VVS1', 'IF']])

# Ajustamos el codificador con la variable education y la transformamos
encoder.fit(df_final[["clarity"]])
df_final["clarity-encoded"] = encoder.transform(df_final[["clarity"]])
df_final.drop("clarity", axis = 1 , inplace = True)

In [40]:
df_train = pd.get_dummies(df_final)
df_train.drop("z", axis = 1, inplace = True)
target = df_final.z
df_train

,carat,price,depth,table,x,y,color-encoded,cut-encoded,clarity-encoded
0,1.21,4268,62.4,58.0,6.83,6.79,1.0,4.0,4.0
1,1.02,3513,61.6,58.0,6.40,6.35,1.0,4.0,4.0
2,0.77,1792,62.3,58.0,5.86,5.80,1.0,4.0,4.0
3,1.51,7553,59.6,60.0,7.58,7.48,1.0,4.0,4.0
4,0.57,1176,60.2,62.0,5.40,5.33,1.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...
40450,0.54,2729,62.2,54.0,5.24,5.27,5.0,5.0,8.0
40451,0.53,2802,61.9,54.0,5.22,5.25,5.0,5.0,8.0
40452,0.30,886,62.3,55.0,4.30,4.34,5.0,5.0,8.0
40453,0.26,768,60.9,55.0,4.15,4.23,5.0,5.0,8.0
40454,0.31,921,61.2,56.0,4.37,4.42,5.0,5.0,8.0

# df_test = pd.read_csv("diamonds_test.csv")

In [41]:
from sklearn.preprocessing import OrdinalEncoder

# Creamos el codificador indicandole el orden de la variables
encoder = OrdinalEncoder(categories=[["X", 'J', 'I', 'H', 'G', 'F', 'E', 'D']])

# Ajustamos el codificador con la variable education y la transformamos
encoder.fit(df_test[["color"]])
df_test["color-encoded"] = encoder.transform(df_test[["color"]])
df_test.drop("color", axis = 1 , inplace = True)

In [42]:
from sklearn.preprocessing import OrdinalEncoder

# Creamos el codificador indicandole el orden de la variables
encoder = OrdinalEncoder(categories=[["X", 'Fair', 'Good', 'Very Good', 'Premium', 'Ideal']])

# Ajustamos el codificador con la variable education y la transformamos
encoder.fit(df_test[["cut"]])
df_test["cut-encoded"] = encoder.transform(df_test[["cut"]])
df_test.drop("cut", axis = 1 , inplace = True)

In [43]:
from sklearn.preprocessing import OrdinalEncoder

# Creamos el codificador indicandole el orden de la variables
encoder = OrdinalEncoder(categories=[["X", "I1", 'SI2', 'SI1', 'VS2', 'VS1', 'VVS2', 'VVS1', 'IF']])

# Ajustamos el codificador con la variable education y la transformamos
encoder.fit(df_test[["clarity"]])
df_test["clarity-encoded"] = encoder.transform(df_test[["clarity"]])
df_test.drop("clarity", axis = 1 , inplace = True)

In [44]:
df_test

,carat,price,depth,table,x,y,color-encoded,cut-encoded,clarity-encoded
1949,1.10,3696,63.0,59.0,6.50,6.47,4.0,4.0,2.0
5469,1.15,5564,59.2,56.0,6.88,6.83,4.0,5.0,4.0
7374,1.01,3837,59.2,58.0,6.50,6.47,5.0,4.0,2.0
10984,1.14,6381,57.5,67.0,0.00,0.00,4.0,1.0,5.0
13192,2.02,18207,62.7,53.0,8.02,7.95,3.0,4.0,4.0
14800,1.00,3142,59.1,59.0,6.55,6.48,4.0,4.0,2.0
15050,0.71,2130,64.1,60.0,0.00,0.00,5.0,2.0,2.0
17581,1.50,4731,64.0,61.0,7.15,7.04,4.0,2.0,1.0
21805,2.80,18788,63.8,58.0,8.90,8.85,4.0,2.0,2.0
22008,2.25,18034,62.8,59.0,0.00,0.00,3.0,4.0,2.0
22218,0.71,2130,64.1,60.0,0.00,0.00,5.0,2.0,2.0
22237,1.07,4954,61.6,56.0,0.00,6.62,5.0,5.0,2.0
23802,2.25,15397,61.3,58.0,8.52,8.42,2.0,4.0,3.0
32508,1.01,3167,58.1,59.0,6.66,6.60,3.0,4.0,1.0
37816,2.20,17265,61.2,59.0,8.42,8.37,3.0,4.0,3.0
39536,2.18,12631,59.4,61.0,8.49,8.45,3.0,4.0,2.0

In [45]:
scaler = RobustScaler()
scaled_df_train = scaler.fit_transform(df_train)
scaled_df_train

array([[ 0.796875  ,  0.4269586 ,  0.4       , ..., -1.        ,
         0.        ,  0.        ],
       [ 0.5       ,  0.25476109, -0.13333333, ..., -1.        ,
         0.        ,  0.        ],
       [ 0.109375  , -0.13775801,  0.33333333, ..., -1.        ,
         0.        ,  0.        ],
       ...,
       [-0.625     , -0.34439503,  0.33333333, ...,  0.33333333,
         0.5       ,  2.        ],
       [-0.6875    , -0.37130802, -0.6       , ...,  0.33333333,
         0.5       ,  2.        ],
       [-0.609375  , -0.33641236, -0.4       , ...,  0.33333333,
         0.5       ,  2.        ]])

In [46]:
scaler = RobustScaler()
scaled_df_test = scaler.fit_transform(df_test)
scaled_df_test

array([[-3.82978723e-02, -1.27070588e-01,  3.87500000e-01,
         0.00000000e+00, -1.29310345e-02, -4.37158470e-02,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 4.25531915e-03,  2.47962440e-02, -5.62500000e-01,
        -1.50000000e+00,  3.38669951e-02,  6.86963310e-02,
         0.00000000e+00,  5.00000000e-01,  2.00000000e+00],
       [-1.14893617e-01, -1.15607406e-01, -5.62500000e-01,
        -5.00000000e-01, -1.29310345e-02, -4.37158470e-02,
         8.00000000e-01,  0.00000000e+00,  0.00000000e+00],
       [-4.25531915e-03,  9.12176582e-02, -9.87500000e-01,
         4.00000000e+00, -8.13423645e-01, -2.06401249e+00,
         0.00000000e+00, -1.50000000e+00,  3.00000000e+00],
       [ 7.44680851e-01,  1.05266153e+00,  3.12500000e-01,
        -3.00000000e+00,  1.74261084e-01,  4.18423107e-01,
        -8.00000000e-01,  0.00000000e+00,  2.00000000e+00],
       [-1.23404255e-01, -1.72110323e-01, -5.87500000e-01,
         0.00000000e+00, -6.77339901e-03, -4.05932865e-02,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [-3.70212766e-01, -2.54385073e-01,  6.62500000e-01,
         5.00000000e-01, -8.13423645e-01, -2.06401249e+00,
         8.00000000e-01, -1.00000000e+00,  0.00000000e+00],
       [ 3.02127660e-01, -4.29259568e-02,  6.37500000e-01,
         1.00000000e+00,  6.71182266e-02,  1.34270101e-01,
         0.00000000e+00, -1.00000000e+00, -1.00000000e+00],
       [ 1.40851064e+00,  1.09989634e+00,  5.87500000e-01,
        -5.00000000e-01,  2.82635468e-01,  6.99453552e-01,
         0.00000000e+00, -1.00000000e+00,  0.00000000e+00],
       [ 9.40425532e-01,  1.03859678e+00,  3.37500000e-01,
         0.00000000e+00, -8.13423645e-01, -2.06401249e+00,
        -8.00000000e-01,  0.00000000e+00,  0.00000000e+00],
       [-3.70212766e-01, -2.54385073e-01,  6.62500000e-01,
         5.00000000e-01, -8.13423645e-01, -2.06401249e+00,
         8.00000000e-01, -1.00000000e+00,  0.00000000e+00],
       [-6.38297872e-02, -2.47962440e-02,  3.75000000e-02,
        -1.50000000e+00, -8.13423645e-01,  3.12256050e-03,
         8.00000000e-01,  5.00000000e-01,  0.00000000e+00],
       [ 9.40425532e-01,  8.24210890e-01, -3.75000000e-02,
        -5.00000000e-01,  2.35837438e-01,  5.65183450e-01,
        -1.60000000e+00,  0.00000000e+00,  1.00000000e+00],
       [-1.14893617e-01, -1.70077844e-01, -8.37500000e-01,
         0.00000000e+00,  6.77339901e-03, -3.12256050e-03,
        -8.00000000e-01,  0.00000000e+00, -1.00000000e+00],
       [ 8.97872340e-01,  9.76077722e-01, -6.25000000e-02,
         0.00000000e+00,  2.23522167e-01,  5.49570648e-01,
        -8.00000000e-01,  0.00000000e+00,  1.00000000e+00],
       [ 8.80851064e-01,  5.99337412e-01, -5.12500000e-01,
         1.00000000e+00,  2.32142857e-01,  5.74551132e-01,
        -8.00000000e-01,  0.00000000e+00,  0.00000000e+00]])

In [47]:
%%time
param_grid = {'n_estimators': [16, 32, 64, 128, 256, 512],
              'max_depth': [2, 4, 8, 16]}
grid_search = RandomizedSearchCV(LGBMRegressor(), 
                                 param_grid, 
                                 cv=5, 
                                 verbose=3, 
                                 scoring='neg_root_mean_squared_error', 
                                 n_jobs=-1)
grid_search.fit(scaled_df_train, target)
proped_price = grid_search.predict(scaled_df_test)

Fitting 5 folds for each of 10 candidates, totalling 50 fits
CPU times: user 6.91 s, sys: 2.22 s, total: 9.13 s
Wall time: 4.99 s

In [48]:
proped_price

array([3.51069974, 3.54088218, 3.38005131, 3.31867107, 4.18241889,
       3.3795891 , 3.02705233, 3.82955429, 4.61600612, 3.9702925 ,
       3.02705233, 3.50933399, 4.2816733 , 3.4214969 , 4.2128159 ,
       4.22160202])

In [49]:
%%time
from sklearn.model_selection import cross_val_score
scores = cross_val_score(grid_search, 
                         scaled_df_train, 
                         target, 
                         scoring='neg_root_mean_squared_error', 
                         cv=5,
                         n_jobs=-1)

CPU times: user 25.6 ms, sys: 5.7 ms, total: 31.3 ms
Wall time: 8.37 s

In [50]:
np.mean(-scores)

0.03321138919860302

[CV 1/5] END ....max_depth=16, n_estimators=16;, score=-0.136 total time=   0.1s
[CV 3/5] END ....max_depth=16, n_estimators=64;, score=-0.021 total time=   0.2s
[CV 5/5] END .....max_depth=4, n_estimators=64;, score=-0.046 total time=   0.1s
[CV 3/5] END ....max_depth=2, n_estimators=512;, score=-0.023 total time=   0.3s
[CV 5/5] END ....max_depth=16, n_estimators=16;, score=-0.140 total time=   0.1s
[CV 5/5] END .....max_depth=2, n_estimators=64;, score=-0.051 total time=   0.1s
[CV 5/5] END .....max_depth=2, n_estimators=16;, score=-0.174 total time=   0.1s
[CV 5/5] END ....max_depth=2, n_estimators=128;, score=-0.046 total time=   0.1s
[CV 5/5] END ....max_depth=2, n_estimators=512;, score=-0.046 total time=   0.3s
[CV 4/5] END ....max_depth=16, n_estimators=16;, score=-0.144 total time=   0.1s
[CV 4/5] END .....max_depth=2, n_estimators=64;, score=-0.058 total time=   0.1s
[CV 4/5] END .....max_depth=2, n_estimators=16;, score=-0.175 total time=   0.1s
[CV 3/5] END .....max_depth=4, n_estimators=64;, score=-0.021 total time=   0.1s
[CV 1/5] END ....max_depth=2, n_estimators=512;, score=-0.034 total time=   0.4s
[CV 3/5] END .....max_depth=8, n_estimators=16;, score=-0.131 total time=   0.1s
[CV 3/5] END .....max_depth=2, n_estimators=64;, score=-0.030 total time=   0.1s
[CV 3/5] END .....max_depth=2, n_estimators=16;, score=-0.162 total time=   0.1s
[CV 1/5] END .....max_depth=4, n_estimators=64;, score=-0.034 total time=   0.1s
[CV 1/5] END ....max_depth=16, n_estimators=32;, score=-0.044 total time=   0.1s
[CV 1/5] END ....max_depth=4, n_estimators=512;, score=-0.032 total time=   0.4s
[CV 3/5] END ....max_depth=16, n_estimators=16;, score=-0.131 total time=   0.1s
[CV 1/5] END .....max_depth=2, n_estimators=64;, score=-0.041 total time=   0.1s
[CV 1/5] END .....max_depth=2, n_estimators=16;, score=-0.168 total time=   0.1s
[CV 1/5] END ....max_depth=2, n_estimators=128;, score=-0.035 total time=   0.1s
[CV 2/5] END ....max_depth=16, n_estimators=32;, score=-0.036 total time=   0.1s
[CV 2/5] END ....max_depth=4, n_estimators=512;, score=-0.021 total time=   0.5s
[CV 4/5] END .....max_depth=8, n_estimators=16;, score=-0.144 total time=   0.1s
[CV 2/5] END .....max_depth=2, n_estimators=64;, score=-0.032 total time=   0.1s
[CV 2/5] END .....max_depth=2, n_estimators=16;, score=-0.164 total time=   0.1s
[CV 2/5] END .....max_depth=4, n_estimators=64;, score=-0.023 total time=   0.1s
[CV 3/5] END ....max_depth=16, n_estimators=32;, score=-0.034 total time=   0.1s
[CV 3/5] END ....max_depth=4, n_estimators=512;, score=-0.020 total time=   0.5s
Fitting 5 folds for each of 10 candidates, totalling 50 fits
[CV 2/5] END ....max_depth=4, n_estimators=128;, score=-0.020 total time=   0.7s
[CV 5/5] END ....max_depth=4, n_estimators=128;, score=-0.031 total time=   0.8s
[CV 4/5] END ....max_depth=2, n_estimators=256;, score=-0.057 total time=   0.8s
[CV 1/5] END ....max_depth=2, n_estimators=256;, score=-0.037 total time=   0.8s
[CV 2/5] END ....max_depth=2, n_estimators=256;, score=-0.022 total time=   0.8s
[CV 4/5] END ....max_depth=4, n_estimators=128;, score=-0.057 total time=   0.9s
[CV 1/5] END ....max_depth=4, n_estimators=128;, score=-0.036 total time=   0.9s
[CV 3/5] END ....max_depth=4, n_estimators=128;, score=-0.046 total time=   0.9s
[CV 5/5] END ....max_depth=2, n_estimators=256;, score=-0.033 total time=   0.9s
[CV 3/5] END ....max_depth=2, n_estimators=256;, score=-0.047 total time=   1.0s
[CV 2/5] END ....max_depth=4, n_estimators=512;, score=-0.019 total time=   2.1s
[CV 1/5] END ....max_depth=4, n_estimators=512;, score=-0.035 total time=   2.1s
[CV 5/5] END ....max_depth=4, n_estimators=512;, score=-0.029 total time=   2.0s
[CV 4/5] END ....max_depth=4, n_estimators=512;, score=-0.056 total time=   2.2s
[CV 1/5] END .....max_depth=4, n_estimators=16;, score=-0.139 total time=   0.2s
[CV 2/5] END .....max_depth=4, n_estimators=16;, score=-0.136 total time=   0.3s
[CV 3/5] END ....max_depth=4, n_estimators=512;, score=-0.046 total time=   2.3s
[CV 3/5] END .....max_depth=4, n_estimators=16;, score=-0.147 total time=   0.3s
[CV 1/5] END .....max_depth=2, n_estimators=16;, score=-0.165 total time=   0.1s
[CV 4/5] END .....max_depth=4, n_estimators=16;, score=-0.147 total time=   0.3s
[CV 5/5] END .....max_depth=4, n_estimators=16;, score=-0.141 total time=   0.2s
[CV 3/5] END .....max_depth=2, n_estimators=16;, score=-0.178 total time=   0.2s
[CV 2/5] END .....max_depth=2, n_estimators=16;, score=-0.161 total time=   0.3s
[CV 5/5] END .....max_depth=2, n_estimators=16;, score=-0.172 total time=   0.2s
[CV 4/5] END .....max_depth=2, n_estimators=16;, score=-0.172 total time=   0.3s
[CV 1/5] END .....max_depth=2, n_estimators=32;, score=-0.073 total time=   0.2s
[CV 4/5] END .....max_depth=2, n_estimators=32;, score=-0.085 total time=   0.3s
[CV 3/5] END .....max_depth=2, n_estimators=32;, score=-0.080 total time=   0.3s
[CV 2/5] END .....max_depth=2, n_estimators=32;, score=-0.065 total time=   0.4s
[CV 5/5] END .....max_depth=2, n_estimators=32;, score=-0.073 total time=   0.2s
[CV 1/5] END .....max_depth=4, n_estimators=32;, score=-0.049 total time=   0.4s
[CV 4/5] END .....max_depth=4, n_estimators=32;, score=-0.066 total time=   0.3s
[CV 3/5] END .....max_depth=4, n_estimators=32;, score=-0.058 total time=   0.3s
[CV 2/5] END .....max_depth=4, n_estimators=32;, score=-0.038 total time=   0.4s
[CV 5/5] END .....max_depth=4, n_estimators=32;, score=-0.046 total time=   0.3s
[CV 5/5] END ....max_depth=8, n_estimators=512;, score=-0.028 total time=   4.2s
[CV 2/5] END ....max_depth=8, n_estimators=512;, score=-0.019 total time=   4.4s
[CV 1/5] END ....max_depth=8, n_estimators=512;, score=-0.034 total time=   4.6s
[CV 3/5] END ....max_depth=8, n_estimators=512;, score=-0.045 total time=   4.6s
[CV 4/5] END ....max_depth=8, n_estimators=512;, score=-0.055 total time=   4.7s
[CV 1/5] END ....max_depth=8, n_estimators=128;, score=-0.034 total time=   1.2s
[CV 1/5] END ...max_depth=16, n_estimators=256;, score=-0.034 total time=   2.3s
[CV 3/5] END ...max_depth=16, n_estimators=256;, score=-0.045 total time=   2.2s
[CV 3/5] END ....max_depth=8, n_estimators=128;, score=-0.046 total time=   1.1s
[CV 2/5] END ....max_depth=8, n_estimators=128;, score=-0.019 total time=   1.2s
[CV 4/5] END ....max_depth=8, n_estimators=128;, score=-0.056 total time=   1.0s
[CV 5/5] END ...max_depth=16, n_estimators=256;, score=-0.028 total time=   2.2s
[CV 2/5] END ...max_depth=16, n_estimators=256;, score=-0.019 total time=   2.3s
[CV 4/5] END ...max_depth=16, n_estimators=256;, score=-0.055 total time=   2.3s
[CV 5/5] END ....max_depth=8, n_estimators=128;, score=-0.029 total time=   1.0s
[CV 1/5] END .....max_depth=8, n_estimators=16;, score=-0.136 total time=   0.1s
[CV 1/5] END ....max_depth=16, n_estimators=64;, score=-0.033 total time=   0.2s
[CV 4/5] END .....max_depth=4, n_estimators=64;, score=-0.053 total time=   0.1s
[CV 5/5] END ....max_depth=16, n_estimators=32;, score=-0.053 total time=   0.1s
[CV 5/5] END ....max_depth=4, n_estimators=512;, score=-0.044 total time=   0.5s
Fitting 5 folds for each of 10 candidates, totalling 50 fits
[CV 2/5] END .....max_depth=2, n_estimators=64;, score=-0.033 total time=   0.4s
[CV 4/5] END .....max_depth=2, n_estimators=64;, score=-0.061 total time=   0.3s
[CV 1/5] END .....max_depth=2, n_estimators=64;, score=-0.043 total time=   0.4s
[CV 3/5] END .....max_depth=2, n_estimators=64;, score=-0.052 total time=   0.4s
[CV 5/5] END .....max_depth=2, n_estimators=64;, score=-0.038 total time=   0.4s
[CV 2/5] END ....max_depth=2, n_estimators=256;, score=-0.025 total time=   0.8s
[CV 1/5] END ....max_depth=2, n_estimators=256;, score=-0.037 total time=   0.8s
[CV 4/5] END ....max_depth=2, n_estimators=256;, score=-0.058 total time=   0.8s
[CV 3/5] END ....max_depth=2, n_estimators=256;, score=-0.047 total time=   0.9s
[CV 5/5] END ....max_depth=2, n_estimators=256;, score=-0.033 total time=   0.9s
[CV 2/5] END ....max_depth=16, n_estimators=64;, score=-0.023 total time=   0.8s
[CV 3/5] END ....max_depth=16, n_estimators=64;, score=-0.046 total time=   0.8s
[CV 4/5] END ....max_depth=16, n_estimators=64;, score=-0.057 total time=   0.8s
[CV 1/5] END ....max_depth=16, n_estimators=64;, score=-0.035 total time=   0.9s
[CV 5/5] END ....max_depth=16, n_estimators=64;, score=-0.030 total time=   0.8s
[CV 2/5] END ....max_depth=2, n_estimators=512;, score=-0.025 total time=   1.3s
[CV 1/5] END ....max_depth=2, n_estimators=512;, score=-0.037 total time=   1.4s
[CV 4/5] END ....max_depth=2, n_estimators=512;, score=-0.058 total time=   1.6s
[CV 3/5] END ....max_depth=2, n_estimators=512;, score=-0.046 total time=   1.6s
[CV 5/5] END ....max_depth=2, n_estimators=512;, score=-0.032 total time=   1.6s
[CV 1/5] END ....max_depth=8, n_estimators=128;, score=-0.034 total time=   1.2s
[CV 2/5] END ....max_depth=8, n_estimators=128;, score=-0.022 total time=   1.2s
[CV 5/5] END ....max_depth=8, n_estimators=128;, score=-0.029 total time=   1.1s
[CV 3/5] END ....max_depth=8, n_estimators=128;, score=-0.046 total time=   1.3s
[CV 4/5] END ....max_depth=8, n_estimators=128;, score=-0.056 total time=   1.4s
[CV 2/5] END .....max_depth=8, n_estimators=64;, score=-0.023 total time=   0.7s
[CV 1/5] END .....max_depth=8, n_estimators=64;, score=-0.035 total time=   0.8s
[CV 3/5] END .....max_depth=8, n_estimators=64;, score=-0.046 total time=   0.9s
[CV 4/5] END .....max_depth=8, n_estimators=64;, score=-0.057 total time=   0.8s
[CV 1/5] END ....max_depth=8, n_estimators=512;, score=-0.034 total time=   4.1s
[CV 5/5] END .....max_depth=8, n_estimators=64;, score=-0.030 total time=   0.7s
[CV 2/5] END ....max_depth=8, n_estimators=512;, score=-0.021 total time=   4.3s
[CV 5/5] END ....max_depth=8, n_estimators=512;, score=-0.029 total time=   4.2s
[CV 4/5] END ....max_depth=8, n_estimators=512;, score=-0.055 total time=   4.4s
[CV 3/5] END ....max_depth=8, n_estimators=512;, score=-0.046 total time=   4.6s
[CV 1/5] END ....max_depth=2, n_estimators=128;, score=-0.037 total time=   0.6s
[CV 1/5] END ....max_depth=4, n_estimators=256;, score=-0.035 total time=   1.1s
[CV 2/5] END ....max_depth=2, n_estimators=128;, score=-0.025 total time=   0.5s
[CV 3/5] END ....max_depth=2, n_estimators=128;, score=-0.047 total time=   0.6s
[CV 2/5] END ....max_depth=4, n_estimators=256;, score=-0.023 total time=   1.2s
[CV 1/5] END .....max_depth=2, n_estimators=32;, score=-0.072 total time=   0.3s
[CV 3/5] END .....max_depth=2, n_estimators=32;, score=-0.079 total time=   0.2s
[CV 4/5] END ....max_depth=2, n_estimators=128;, score=-0.058 total time=   0.5s
[CV 5/5] END ....max_depth=2, n_estimators=128;, score=-0.032 total time=   0.4s
[CV 4/5] END ....max_depth=4, n_estimators=256;, score=-0.057 total time=   1.0s
[CV 2/5] END .....max_depth=2, n_estimators=32;, score=-0.069 total time=   0.3s
[CV 4/5] END .....max_depth=2, n_estimators=32;, score=-0.084 total time=   0.3s
[CV 5/5] END .....max_depth=2, n_estimators=32;, score=-0.073 total time=   0.2s
[CV 5/5] END ....max_depth=4, n_estimators=256;, score=-0.031 total time=   1.2s
[CV 3/5] END ....max_depth=4, n_estimators=256;, score=-0.046 total time=   1.3s

[CV 2/5] END ....max_depth=16, n_estimators=16;, score=-0.133 total time=   0.1s
[CV 5/5] END ....max_depth=16, n_estimators=64;, score=-0.045 total time=   0.2s
[CV 2/5] END ....max_depth=2, n_estimators=128;, score=-0.025 total time=   0.1s
[CV 4/5] END ....max_depth=16, n_estimators=32;, score=-0.060 total time=   0.1s
[CV 4/5] END ....max_depth=4, n_estimators=512;, score=-0.052 total time=   0.5s
Fitting 5 folds for each of 10 candidates, totalling 50 fits
[CV 5/5] END .....max_depth=2, n_estimators=32;, score=-0.073 total time=   0.2s
[CV 3/5] END .....max_depth=2, n_estimators=32;, score=-0.064 total time=   0.2s
[CV 4/5] END .....max_depth=2, n_estimators=32;, score=-0.076 total time=   0.2s
[CV 1/5] END .....max_depth=2, n_estimators=32;, score=-0.073 total time=   0.2s
[CV 2/5] END .....max_depth=2, n_estimators=32;, score=-0.069 total time=   0.3s
[CV 2/5] END ....max_depth=2, n_estimators=128;, score=-0.026 total time=   0.5s
[CV 3/5] END ....max_depth=2, n_estimators=128;, score=-0.022 total time=   0.5s
[CV 4/5] END ....max_depth=2, n_estimators=128;, score=-0.046 total time=   0.5s
[CV 5/5] END ....max_depth=2, n_estimators=128;, score=-0.032 total time=   0.5s
[CV 1/5] END ....max_depth=2, n_estimators=128;, score=-0.037 total time=   0.6s
[CV 5/5] END ....max_depth=2, n_estimators=512;, score=-0.030 total time=   1.4s
[CV 1/5] END ....max_depth=2, n_estimators=512;, score=-0.035 total time=   1.5s
[CV 2/5] END ....max_depth=2, n_estimators=512;, score=-0.023 total time=   1.6s
[CV 4/5] END ....max_depth=2, n_estimators=512;, score=-0.044 total time=   1.7s
[CV 2/5] END ....max_depth=16, n_estimators=16;, score=-0.135 total time=   0.3s
[CV 1/5] END ....max_depth=16, n_estimators=16;, score=-0.136 total time=   0.4s
[CV 4/5] END ....max_depth=16, n_estimators=16;, score=-0.137 total time=   0.3s
[CV 3/5] END ....max_depth=16, n_estimators=16;, score=-0.132 total time=   0.4s
[CV 5/5] END ....max_depth=16, n_estimators=16;, score=-0.137 total time=   0.3s
[CV 3/5] END ....max_depth=2, n_estimators=512;, score=-0.019 total time=   2.6s
[CV 2/5] END ...max_depth=16, n_estimators=512;, score=-0.023 total time=   4.9s
[CV 3/5] END ...max_depth=16, n_estimators=512;, score=-0.018 total time=   4.9s
[CV 3/5] END ...max_depth=16, n_estimators=256;, score=-0.018 total time=   2.3s
[CV 1/5] END ...max_depth=16, n_estimators=256;, score=-0.034 total time=   2.6s
[CV 1/5] END .....max_depth=2, n_estimators=64;, score=-0.043 total time=   0.3s
[CV 2/5] END .....max_depth=2, n_estimators=64;, score=-0.033 total time=   0.4s
[CV 2/5] END ...max_depth=16, n_estimators=256;, score=-0.021 total time=   2.5s
[CV 4/5] END ...max_depth=16, n_estimators=512;, score=-0.043 total time=   5.4s
[CV 4/5] END ...max_depth=16, n_estimators=256;, score=-0.043 total time=   2.7s
[CV 4/5] END .....max_depth=2, n_estimators=64;, score=-0.049 total time=   0.4s
[CV 3/5] END .....max_depth=2, n_estimators=64;, score=-0.030 total time=   0.4s
[CV 2/5] END .....max_depth=4, n_estimators=16;, score=-0.139 total time=   0.3s
[CV 1/5] END .....max_depth=4, n_estimators=16;, score=-0.139 total time=   0.3s
[CV 1/5] END ...max_depth=16, n_estimators=512;, score=-0.033 total time=   5.6s
[CV 5/5] END .....max_depth=2, n_estimators=64;, score=-0.038 total time=   0.4s
[CV 5/5] END ...max_depth=16, n_estimators=512;, score=-0.027 total time=   5.6s
[CV 3/5] END .....max_depth=4, n_estimators=16;, score=-0.135 total time=   0.3s
[CV 5/5] END .....max_depth=4, n_estimators=16;, score=-0.141 total time=   0.3s
[CV 4/5] END .....max_depth=4, n_estimators=16;, score=-0.141 total time=   0.3s
[CV 5/5] END ...max_depth=16, n_estimators=256;, score=-0.027 total time=   2.5s
[CV 1/5] END .....max_depth=8, n_estimators=32;, score=-0.045 total time=   0.4s
[CV 2/5] END .....max_depth=8, n_estimators=32;, score=-0.037 total time=   0.4s
[CV 3/5] END .....max_depth=8, n_estimators=32;, score=-0.034 total time=   0.4s
[CV 4/5] END .....max_depth=8, n_estimators=32;, score=-0.052 total time=   0.4s
[CV 5/5] END .....max_depth=8, n_estimators=32;, score=-0.041 total time=   0.4s
[CV 4/5] END ....max_depth=8, n_estimators=512;, score=-0.043 total time=   1.7s
[CV 1/5] END ....max_depth=8, n_estimators=512;, score=-0.034 total time=   1.8s
[CV 5/5] END ....max_depth=8, n_estimators=512;, score=-0.026 total time=   1.7s
[CV 3/5] END ....max_depth=8, n_estimators=512;, score=-0.018 total time=   1.8s
[CV 2/5] END ....max_depth=8, n_estimators=512;, score=-0.023 total time=   1.8s
[CV 2/5] END .....max_depth=8, n_estimators=16;, score=-0.133 total time=   0.1s
[CV 4/5] END ....max_depth=16, n_estimators=64;, score=-0.053 total time=   0.2s
[CV 4/5] END ....max_depth=2, n_estimators=128;, score=-0.054 total time=   0.1s
[CV 4/5] END ....max_depth=2, n_estimators=512;, score=-0.053 total time=   0.4s
Fitting 5 folds for each of 10 candidates, totalling 50 fits
[CV 4/5] END .....max_depth=8, n_estimators=16;, score=-0.140 total time=   0.2s
[CV 3/5] END .....max_depth=8, n_estimators=16;, score=-0.132 total time=   0.3s
[CV 5/5] END .....max_depth=8, n_estimators=16;, score=-0.138 total time=   0.3s
[CV 2/5] END .....max_depth=8, n_estimators=16;, score=-0.134 total time=   0.3s
[CV 1/5] END .....max_depth=8, n_estimators=16;, score=-0.135 total time=   0.3s
[CV 4/5] END ....max_depth=4, n_estimators=256;, score=-0.045 total time=   1.1s
[CV 1/5] END ....max_depth=4, n_estimators=256;, score=-0.036 total time=   1.1s
[CV 2/5] END ....max_depth=4, n_estimators=256;, score=-0.023 total time=   1.1s
[CV 5/5] END ....max_depth=4, n_estimators=256;, score=-0.043 total time=   1.1s
[CV 3/5] END ....max_depth=4, n_estimators=256;, score=-0.020 total time=   1.2s
[CV 1/5] END ....max_depth=8, n_estimators=128;, score=-0.035 total time=   1.2s
[CV 2/5] END ....max_depth=8, n_estimators=128;, score=-0.022 total time=   1.2s
[CV 4/5] END ....max_depth=8, n_estimators=128;, score=-0.045 total time=   1.2s
[CV 3/5] END ....max_depth=8, n_estimators=128;, score=-0.019 total time=   1.2s
[CV 5/5] END ....max_depth=8, n_estimators=128;, score=-0.043 total time=   1.3s
[CV 1/5] END ....max_depth=16, n_estimators=64;, score=-0.036 total time=   0.7s
[CV 3/5] END ....max_depth=16, n_estimators=64;, score=-0.020 total time=   0.7s
[CV 2/5] END ....max_depth=16, n_estimators=64;, score=-0.023 total time=   0.7s
[CV 4/5] END ....max_depth=16, n_estimators=64;, score=-0.045 total time=   0.7s
[CV 5/5] END ....max_depth=16, n_estimators=64;, score=-0.043 total time=   0.8s
[CV 3/5] END ....max_depth=2, n_estimators=256;, score=-0.022 total time=   0.8s
[CV 1/5] END ....max_depth=2, n_estimators=256;, score=-0.037 total time=   0.9s
[CV 2/5] END ....max_depth=2, n_estimators=256;, score=-0.026 total time=   0.9s
[CV 5/5] END ....max_depth=2, n_estimators=256;, score=-0.044 total time=   0.8s
[CV 4/5] END ....max_depth=2, n_estimators=256;, score=-0.046 total time=   0.9s
[CV 1/5] END ....max_depth=8, n_estimators=256;, score=-0.035 total time=   1.9s
[CV 2/5] END ....max_depth=8, n_estimators=256;, score=-0.021 total time=   2.2s
[CV 4/5] END ....max_depth=8, n_estimators=256;, score=-0.045 total time=   2.1s
[CV 5/5] END ....max_depth=8, n_estimators=256;, score=-0.042 total time=   2.0s
[CV 3/5] END ....max_depth=8, n_estimators=256;, score=-0.019 total time=   2.2s
[CV 1/5] END ....max_depth=8, n_estimators=512;, score=-0.034 total time=   3.8s
[CV 3/5] END ....max_depth=8, n_estimators=512;, score=-0.018 total time=   4.1s
[CV 4/5] END ....max_depth=8, n_estimators=512;, score=-0.045 total time=   4.2s
[CV 2/5] END ....max_depth=8, n_estimators=512;, score=-0.020 total time=   4.3s
[CV 5/5] END ....max_depth=8, n_estimators=512;, score=-0.042 total time=   4.2s
[CV 1/5] END ...max_depth=16, n_estimators=128;, score=-0.035 total time=   1.4s
[CV 2/5] END ...max_depth=16, n_estimators=128;, score=-0.022 total time=   1.3s
[CV 3/5] END ...max_depth=16, n_estimators=128;, score=-0.019 total time=   1.3s
[CV 5/5] END ...max_depth=16, n_estimators=128;, score=-0.043 total time=   1.3s
[CV 4/5] END ...max_depth=16, n_estimators=128;, score=-0.045 total time=   1.4s
[CV 2/5] END .....max_depth=4, n_estimators=16;, score=-0.139 total time=   0.1s
[CV 1/5] END .....max_depth=4, n_estimators=16;, score=-0.139 total time=   0.3s
[CV 4/5] END .....max_depth=4, n_estimators=16;, score=-0.144 total time=   0.2s
[CV 5/5] END .....max_depth=4, n_estimators=16;, score=-0.142 total time=   0.1s
[CV 3/5] END .....max_depth=4, n_estimators=16;, score=-0.135 total time=   0.2s
[CV 1/5] END ...max_depth=16, n_estimators=256;, score=-0.034 total time=   1.7s
[CV 2/5] END ...max_depth=16, n_estimators=256;, score=-0.021 total time=   1.4s
[CV 4/5] END ...max_depth=16, n_estimators=256;, score=-0.045 total time=   1.2s
[CV 3/5] END ...max_depth=16, n_estimators=256;, score=-0.019 total time=   1.3s
[CV 5/5] END ...max_depth=16, n_estimators=256;, score=-0.042 total time=   1.2s
[CV 5/5] END .....max_depth=8, n_estimators=16;, score=-0.140 total time=   0.1s
[CV 2/5] END ....max_depth=16, n_estimators=64;, score=-0.022 total time=   0.2s
[CV 3/5] END ....max_depth=2, n_estimators=128;, score=-0.023 total time=   0.1s
[CV 2/5] END ....max_depth=2, n_estimators=512;, score=-0.024 total time=   0.3s
Fitting 5 folds for each of 10 candidates, totalling 50 fits
[CV 5/5] END .....max_depth=4, n_estimators=64;, score=-0.031 total time=   0.5s
[CV 1/5] END .....max_depth=4, n_estimators=64;, score=-0.025 total time=   0.5s
[CV 2/5] END .....max_depth=4, n_estimators=64;, score=-0.020 total time=   0.5s
[CV 3/5] END .....max_depth=4, n_estimators=64;, score=-0.047 total time=   0.6s
[CV 4/5] END .....max_depth=4, n_estimators=64;, score=-0.057 total time=   0.7s
[CV 4/5] END ....max_depth=2, n_estimators=512;, score=-0.057 total time=   1.2s
[CV 2/5] END ....max_depth=2, n_estimators=512;, score=-0.021 total time=   1.3s
[CV 5/5] END ....max_depth=2, n_estimators=512;, score=-0.032 total time=   1.4s
[CV 3/5] END ....max_depth=2, n_estimators=512;, score=-0.046 total time=   1.4s
[CV 1/5] END .....max_depth=4, n_estimators=32;, score=-0.040 total time=   0.4s
[CV 2/5] END .....max_depth=4, n_estimators=32;, score=-0.038 total time=   0.3s
[CV 3/5] END .....max_depth=4, n_estimators=32;, score=-0.057 total time=   0.4s
[CV 4/5] END .....max_depth=4, n_estimators=32;, score=-0.066 total time=   0.3s
[CV 5/5] END .....max_depth=4, n_estimators=32;, score=-0.046 total time=   0.3s
[CV 1/5] END ....max_depth=2, n_estimators=128;, score=-0.026 total time=   0.5s
[CV 3/5] END ....max_depth=2, n_estimators=128;, score=-0.047 total time=   0.5s
[CV 1/5] END ....max_depth=2, n_estimators=512;, score=-0.025 total time=   2.3s
[CV 4/5] END ....max_depth=2, n_estimators=128;, score=-0.058 total time=   0.5s
[CV 2/5] END ....max_depth=2, n_estimators=128;, score=-0.022 total time=   0.7s
[CV 5/5] END ....max_depth=2, n_estimators=128;, score=-0.032 total time=   0.5s
[CV 1/5] END ...max_depth=16, n_estimators=256;, score=-0.022 total time=   2.6s
[CV 2/5] END ...max_depth=16, n_estimators=256;, score=-0.018 total time=   2.6s
[CV 1/5] END .....max_depth=2, n_estimators=64;, score=-0.032 total time=   0.3s
[CV 3/5] END ...max_depth=16, n_estimators=256;, score=-0.046 total time=   2.8s
[CV 2/5] END .....max_depth=2, n_estimators=64;, score=-0.030 total time=   0.4s
[CV 4/5] END ...max_depth=16, n_estimators=256;, score=-0.056 total time=   2.8s
[CV 5/5] END ...max_depth=16, n_estimators=256;, score=-0.028 total time=   2.7s
[CV 3/5] END .....max_depth=2, n_estimators=64;, score=-0.052 total time=   0.4s
[CV 1/5] END ...max_depth=16, n_estimators=512;, score=-0.022 total time=   5.2s
[CV 5/5] END .....max_depth=2, n_estimators=64;, score=-0.039 total time=   0.4s
[CV 4/5] END .....max_depth=2, n_estimators=64;, score=-0.062 total time=   0.5s
[CV 2/5] END ...max_depth=16, n_estimators=512;, score=-0.019 total time=   5.3s
[CV 3/5] END ...max_depth=16, n_estimators=512;, score=-0.046 total time=   5.4s
[CV 4/5] END ...max_depth=16, n_estimators=512;, score=-0.055 total time=   5.5s
[CV 1/5] END ....max_depth=2, n_estimators=256;, score=-0.025 total time=   0.7s
[CV 2/5] END ....max_depth=2, n_estimators=256;, score=-0.022 total time=   0.7s
[CV 5/5] END ...max_depth=16, n_estimators=512;, score=-0.028 total time=   5.4s
[CV 3/5] END ....max_depth=2, n_estimators=256;, score=-0.047 total time=   0.8s
[CV 4/5] END ....max_depth=2, n_estimators=256;, score=-0.057 total time=   0.7s
[CV 5/5] END ....max_depth=2, n_estimators=256;, score=-0.032 total time=   0.7s
[CV 1/5] END .....max_depth=8, n_estimators=64;, score=-0.024 total time=   0.5s
[CV 2/5] END .....max_depth=8, n_estimators=64;, score=-0.019 total time=   0.5s
[CV 3/5] END .....max_depth=8, n_estimators=64;, score=-0.047 total time=   0.4s
[CV 4/5] END .....max_depth=8, n_estimators=64;, score=-0.057 total time=   0.3s
[CV 5/5] END .....max_depth=8, n_estimators=64;, score=-0.030 total time=   0.3s
[CV 1/5] END ....max_depth=4, n_estimators=512;, score=-0.023 total time=   1.2s
[CV 2/5] END ....max_depth=4, n_estimators=512;, score=-0.019 total time=   1.2s
[CV 5/5] END ....max_depth=4, n_estimators=512;, score=-0.029 total time=   1.0s
[CV 4/5] END ....max_depth=4, n_estimators=512;, score=-0.056 total time=   1.0s
[CV 3/5] END ....max_depth=4, n_estimators=512;, score=-0.046 total time=   1.1s

In [140]:
z = [3.50567971, 3.52434075, 3.42710937, 3.44336589, 4.18087255,
       3.36547917, 3.08146466, 3.79233843, 4.64126435, 4.3036674 ,
       3.08146466, 3.44375, 4.29199143, 3.40710938, 4.26213821,
       4.23449219]

X_train, X_test, y_train, y_test = train_test_split(scaled_df_train, target, test_size=0.2, random_state=1)
print(f"X_train: {X_train.shape}, X_test: {X_test.shape}, y_train: {y_train.shape}, y_test: {y_test.shape}")

param_grid2 = {'n_estimators': [16, 32, 64, 128, 256, 512],
              'max_depth': [2, 4, 8, 16]}
grid_search2 = RandomizedSearchCV(RandomForestRegressor(), 
                                 param_grid, 
                                 cv=5, 
                                 verbose=3, 
                                 scoring='neg_root_mean_squared_error', 
                                 n_jobs=-1)
grid_search2.fit(X_train, y_train)
proped_price2 = grid_search2.predict(X_test)

from sklearn.metrics import mean_squared_error
rmse = mean_squared_error(y_test, proped_price2)**0.5
rmse

submission = pd.DataFrame({"price":proped_price})
submission = submission.reset_index().rename(columns={"index": "id"})
submission.to_csv('Modelo 6.csv', index=False)

df = pd.read_csv("Modelo 4.csv")
df