In [101]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy
import sklearn
import sqlite3 as sql
import sqlalchemy
from sklearn.preprocessing import StandardScaler


import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import datasets
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
import pickle
import joblib
from lightgbm import LGBMRegressor
from sklearn.metrics import mean_squared_error

from sklearn import linear_model
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import Ridge
from sklearn.svm import SVR
from sklearn.linear_model import SGDRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import RandomizedSearchCV

#  cargar los datos sin escalar

In [102]:
connection = sql.connect("../Data/diamonds_train.db")

In [103]:
print(pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", connection))

                     name
0     diamonds_dimensions
1  diamonds_transactional
2     diamonds_properties
3            diamonds_cut
4          diamonds_color
5        diamonds_clarity
6           diamonds_city

In [104]:
query1= 'SELECT * FROM diamonds_dimensions'
df_dimensions = pd.read_sql_query(query1, connection)
df_dimensions

,index_id,depth,table,x,y,z
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,62.4,58.0,6.83,6.79,4.25
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,63.0,57.0,4.35,4.38,2.75
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,65.5,55.0,5.62,5.53,3.65
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,63.8,56.0,4.68,4.72,3.00
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,60.5,59.0,6.55,6.51,3.95
...,...,...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,62.7,57.0,7.10,7.04,4.43
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,57.1,60.0,8.31,8.25,4.73
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,62.7,56.0,6.37,6.42,4.01
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,61.9,54.3,4.45,4.47,2.76
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,62.0,58.0,6.83,6.88,4.25

In [105]:
query2= 'SELECT * FROM diamonds_transactional'
df_transactional = pd.read_sql_query(query2, connection)
df_transactional

,index_id,price,city_id,carat
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,4268,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.21
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,505,89c7286890f7347ab235234e74d406596a127ae3679042...,0.32
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,2686,2bd25cd960aba8b706e2b67f2bb38b750ee5384b0e9883...,0.71
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,738,89c7286890f7347ab235234e74d406596a127ae3679042...,0.41
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,4882,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.02
...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,10070,ca3aa21a5b70c3e88cc6336682c8c7da928a0c66a5ead4...,1.34
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,12615,e9c722cbefc2f055ae60b4e2cbe73a2d99537eab0c37f3...,2.02
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,5457,89c7286890f7347ab235234e74d406596a127ae3679042...,1.01
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,456,89c7286890f7347ab235234e74d406596a127ae3679042...,0.33
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,6232,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,1.24

In [106]:
query3= 'SELECT * FROM diamonds_properties'
df_properties = pd.read_sql_query(query3, connection)
df_properties

,index_id,cut_id,color_id,clarity_id
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,388655e25e91872329272fc10128ef5354b3b19a05d7e8...,44bd7ae60f478fae1061e11a7739f4b94d1daf917982d3...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,f7b19afcde965ea4942b878d266f89f8ba9a5a833e60f7...,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,c939327ca16dcf97ca32521d8b834bf1de16573d21deda...,3f39d5c348e5b79d06e842c114e6cc571583bbf44e4b0e...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...
...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,c939327ca16dcf97ca32521d8b834bf1de16573d21deda...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,03c358cbd92e83278fd523f58dc6a9b4b198d00728af65...
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,44bd7ae60f478fae1061e11a7739f4b94d1daf917982d3...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,a83dd0ccbffe39d071cc317ddf6e97f5c6b1c87af91919...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...

In [107]:
query4= 'SELECT * FROM diamonds_cut'
df_cut = pd.read_sql_query(query4, connection)
df_cut

                                              cut_id        cut
0  388655e25e91872329272fc10128ef5354b3b19a05d7e8...  Very Good
1  4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...      Ideal
2  c939327ca16dcf97ca32521d8b834bf1de16573d21deda...       Good
3  de88c121a82a06352bf1aaceba20578356408a334ba046...    Premium
4  f7b19afcde965ea4942b878d266f89f8ba9a5a833e60f7...       Fair

In [108]:
query5= 'SELECT * FROM diamonds_color'
df_color = pd.read_sql_query(query5, connection)
df_color

                                            color_id color
0  333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...     G
1  3f39d5c348e5b79d06e842c114e6cc571583bbf44e4b0e...     D
2  44bd7ae60f478fae1061e11a7739f4b94d1daf917982d3...     H
3  6da43b944e494e885e69af021f93c6d9331c78aa228084...     J
4  a83dd0ccbffe39d071cc317ddf6e97f5c6b1c87af91919...     I
5  a9f51566bd6705f7ea6ad54bb9deb449f795582d6529a0...     E
6  f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...     F

In [109]:
query6= 'SELECT * FROM diamonds_clarity'
df_clarity = pd.read_sql_query(query6, connection)
df_clarity

                                          clarity_id clarity
0  03c358cbd92e83278fd523f58dc6a9b4b198d00728af65...     SI2
1  3f9db06236e9719b61c826b612b882fa702ec81574e44c...    VVS2
2  66686ae1f0c9c400ba32dc600a34ff0aa173395bcbc2d8...    VVS1
3  7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...      IF
4  bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...     SI1
5  c2818bc4e5ec4ae4a357a0df6fed73652e169ec676f7d4...      I1
6  ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...     VS1
7  f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...     VS2

In [110]:
query7= 'SELECT * FROM diamonds_city'
df_city = pd.read_sql_query(query7, connection)
df_city

                                              city_id           city
0   0013c01fe0d094209b8bd3d23b8f96dbabcd01ddd2a039...      Amsterdam
1   1e73b1647343b286269d517e6f07e6e07ccef10cd7b785...         Zurich
2   2bd25cd960aba8b706e2b67f2bb38b750ee5384b0e9883...      Las Vegas
3   5a59ef2e40c5f89adb8c0c6ad0a8019b0e252fff530cf2...  New York City
4   5dd272b4f316b776a7b8e3d0894b37e1e42be3d5d3b204...          Paris
5   68371d5bdaab31b5cbc25fbf94b8f9c1238294fc50e715...       Tel Aviv
6   6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...          Dubai
7   89c7286890f7347ab235234e74d406596a127ae3679042...       Kimberly
8   ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...          Surat
9   ca3aa21a5b70c3e88cc6336682c8c7da928a0c66a5ead4...        Antwerp
10  e9c722cbefc2f055ae60b4e2cbe73a2d99537eab0c37f3...         Madrid
11  ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...         London
12  ed76f191621cf6ed77eab6a8013d1cb4bdfa89a75a24aa...     Luxembourg

In [111]:
join1 = df_dimensions.merge(df_transactional , on = "index_id")
join2 = join1.merge(df_properties , on = "index_id")
join3 = join2.merge(df_cut , on = "cut_id")
join4 = join3.merge(df_color, on = "color_id")
join5 = join4.merge(df_clarity, on = "clarity_id")
join6 = join5.merge(df_city, on = "city_id")

In [112]:
join6

,index_id,depth,table,x,y,z,price,city_id,carat,cut_id,color_id,clarity_id,cut,color,clarity,city
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,62.4,58.0,6.83,6.79,4.25,4268,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.21,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2,Dubai
1,41667f6e2629360aecaf00b20f8732e3310417ebd54b24...,61.6,58.0,6.40,6.35,3.93,3513,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.02,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2,Dubai
2,01f8667f50d52677bea23231a74156e4f92360d7bc3db6...,62.3,58.0,5.86,5.80,3.63,1792,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,0.77,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2,Dubai
3,c3867352aab641358faec75d733af012dbe2259a014ea8...,59.6,60.0,7.58,7.48,4.49,7553,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.51,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2,Dubai
4,0da4b104c4d8589fcb96a03aa0787549a2631935b0f499...,60.2,62.0,5.40,5.33,3.23,1176,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,0.57,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2,Dubai
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,3df6f3da962b819057888dbbe3cf4d11f9a59261ba0af7...,62.2,54.0,5.24,5.27,3.27,2729,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.54,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF,Surat
40451,e5bc95d36abda5bfd67641eca60f2ab92f37b27c0397e0...,61.9,54.0,5.22,5.25,3.24,2802,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.53,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF,Surat
40452,5ad0fcca0db9b3d399e31a3d909a1a3f4da38c663256b3...,62.3,55.0,4.30,4.34,2.69,886,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.30,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF,Surat
40453,c8559278b1ac356e1e414320a4efbbe788dc16623e7873...,60.9,55.0,4.15,4.23,2.55,768,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.26,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF,Surat
40454,d7e77869948ba7500ca20937afd59c8f9b7a0238adb814...,61.2,56.0,4.37,4.42,2.69,921,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.31,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF,Surat

In [113]:
df_final = join6.loc[:, ["carat", 'cut', 'color', 'clarity',"price", 'depth', "table", "x", "y", "z"]]

In [114]:
z = [3.51069974, 3.54088218, 3.38005131, 3.31867107, 4.18241889,
       3.3795891 , 3.02705233, 3.82955429, 4.61600612, 3.9702925 ,
       3.02705233, 3.50933399, 4.2816733 , 3.4214969 , 4.2128159 ,
       4.22160202]
a = 0
my_list= list(df_final["z"])
for index, value in enumerate(df_final["z"]):
    if value == 0:
        my_list[index] = z[a]
        a = a +1

df_final["z"] = my_list



x = [5.7775, 5.61175605, 6.68147102, 5.61175605, 8.40796875]

a = 0
my_list= list(df_final["x"])
for index, value in enumerate(df_final["x"]):
    if value == 0:
        my_list[index] = z[a]
        a = a +1
df_final["x"] = my_list



y = [5.8349201 , 5.51034511, 6.05034552, 5.51034511]

a = 0
my_list= list(df_final["y"])
for index, value in enumerate(df_final["y"]):
    if value == 0:
        my_list[index] = z[a]
        a = a +1
df_final["y"] = my_list
df_final

       carat      cut color clarity  price  depth  table     x     y     z
0       1.21  Premium     J     VS2   4268   62.4   58.0  6.83  6.79  4.25
1       1.02  Premium     J     VS2   3513   61.6   58.0  6.40  6.35  3.93
2       0.77  Premium     J     VS2   1792   62.3   58.0  5.86  5.80  3.63
3       1.51  Premium     J     VS2   7553   59.6   60.0  7.58  7.48  4.49
4       0.57  Premium     J     VS2   1176   60.2   62.0  5.40  5.33  3.23
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
40450   0.54    Ideal     F      IF   2729   62.2   54.0  5.24  5.27  3.27
40451   0.53    Ideal     F      IF   2802   61.9   54.0  5.22  5.25  3.24
40452   0.30    Ideal     F      IF    886   62.3   55.0  4.30  4.34  2.69
40453   0.26    Ideal     F      IF    768   60.9   55.0  4.15  4.23  2.55
40454   0.31    Ideal     F      IF    921   61.2   56.0  4.37  4.42  2.69

[40455 rows x 10 columns]

# codificar los valores de otra manera

In [115]:
from sklearn.preprocessing import OrdinalEncoder

# Creamos el codificador indicandole el orden de la variables
encoder = OrdinalEncoder(categories=[["X", 'J', 'I', 'H', 'G', 'F', 'E', 'D']])

# Ajustamos el codificador con la variable education y la transformamos
encoder.fit(df_final[["color"]])
df_final["color-encoded"] = encoder.transform(df_final[["color"]])
df_final.drop("color", axis = 1 , inplace = True)

In [116]:
from sklearn.preprocessing import OrdinalEncoder

# Creamos el codificador indicandole el orden de la variables
encoder = OrdinalEncoder(categories=[["X", 'Fair', 'Good', 'Very Good', 'Premium', 'Ideal']])

# Ajustamos el codificador con la variable education y la transformamos
encoder.fit(df_final[["cut"]])
df_final["cut-encoded"] = encoder.transform(df_final[["cut"]])
df_final.drop("cut", axis = 1 , inplace = True)

In [117]:
from sklearn.preprocessing import OrdinalEncoder

# Creamos el codificador indicandole el orden de la variables
encoder = OrdinalEncoder(categories=[["X", "I1", 'SI2', 'SI1', 'VS2', 'VS1', 'VVS2', 'VVS1', 'IF']])

# Ajustamos el codificador con la variable education y la transformamos
encoder.fit(df_final[["clarity"]])
df_final["clarity-encoded"] = encoder.transform(df_final[["clarity"]])
df_final.drop("clarity", axis = 1 , inplace = True)

In [118]:
df_train = pd.get_dummies(df_final)
df_train.drop(["price"], axis = 1, inplace = True)
target = df_final.price
df_train

,carat,depth,table,x,y,z,color-encoded,cut-encoded,clarity-encoded
0,1.21,62.4,58.0,6.83,6.79,4.25,1.0,4.0,4.0
1,1.02,61.6,58.0,6.40,6.35,3.93,1.0,4.0,4.0
2,0.77,62.3,58.0,5.86,5.80,3.63,1.0,4.0,4.0
3,1.51,59.6,60.0,7.58,7.48,4.49,1.0,4.0,4.0
4,0.57,60.2,62.0,5.40,5.33,3.23,1.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...
40450,0.54,62.2,54.0,5.24,5.27,3.27,5.0,5.0,8.0
40451,0.53,61.9,54.0,5.22,5.25,3.24,5.0,5.0,8.0
40452,0.30,62.3,55.0,4.30,4.34,2.69,5.0,5.0,8.0
40453,0.26,60.9,55.0,4.15,4.23,2.55,5.0,5.0,8.0
40454,0.31,61.2,56.0,4.37,4.42,2.69,5.0,5.0,8.0

In [119]:
df_test = pd.read_csv("../Data/diamonds_test.csv")

In [120]:
from sklearn.preprocessing import OrdinalEncoder

# Creamos el codificador indicandole el orden de la variables
encoder = OrdinalEncoder(categories=[["X", 'J', 'I', 'H', 'G', 'F', 'E', 'D']])

# Ajustamos el codificador con la variable education y la transformamos
encoder.fit(df_test[["color"]])
df_test["color-encoded"] = encoder.transform(df_test[["color"]])
df_test.drop("color", axis = 1 , inplace = True)

In [121]:
from sklearn.preprocessing import OrdinalEncoder

# Creamos el codificador indicandole el orden de la variables
encoder = OrdinalEncoder(categories=[["X", 'Fair', 'Good', 'Very Good', 'Premium', 'Ideal']])

# Ajustamos el codificador con la variable education y la transformamos
encoder.fit(df_test[["cut"]])
df_test["cut-encoded"] = encoder.transform(df_test[["cut"]])
df_test.drop("cut", axis = 1 , inplace = True)

In [122]:
from sklearn.preprocessing import OrdinalEncoder

# Creamos el codificador indicandole el orden de la variables
encoder = OrdinalEncoder(categories=[["X", "I1", 'SI2', 'SI1', 'VS2', 'VS1', 'VVS2', 'VVS1', 'IF']])

# Ajustamos el codificador con la variable education y la transformamos
encoder.fit(df_test[["clarity"]])
df_test["clarity-encoded"] = encoder.transform(df_test[["clarity"]])
df_test.drop("clarity", axis = 1 , inplace = True)

In [123]:
df_test.drop(["id", "city"], axis=1, inplace=True)
df_test

,carat,depth,table,x,y,z,color-encoded,cut-encoded,clarity-encoded
0,0.79,62.7,60.0,5.82,5.89,3.67,5.0,3.0,3.0
1,1.20,61.0,57.0,6.81,6.89,4.18,1.0,5.0,5.0
2,1.57,62.2,61.0,7.38,7.32,4.57,3.0,4.0,3.0
3,0.90,63.8,54.0,6.09,6.13,3.90,5.0,3.0,3.0
4,0.50,62.9,58.0,5.05,5.09,3.19,5.0,3.0,5.0
...,...,...,...,...,...,...,...,...,...
13480,0.57,61.9,56.0,5.35,5.32,3.30,6.0,5.0,3.0
13481,0.71,62.2,55.0,5.71,5.73,3.56,2.0,5.0,4.0
13482,0.70,61.6,55.0,5.75,5.71,3.53,5.0,5.0,5.0
13483,0.70,58.8,57.0,5.85,5.89,3.45,5.0,3.0,2.0
13484,0.40,62.4,55.0,4.70,4.73,2.94,2.0,5.0,6.0

In [124]:
scaler = RobustScaler()
scaled_df_train = scaler.fit_transform(df_train)
scaled_df_train

array([[ 0.796875  ,  0.4       ,  0.33333333, ..., -1.        ,
         0.        ,  0.        ],
       [ 0.5       , -0.13333333,  0.33333333, ..., -1.        ,
         0.        ,  0.        ],
       [ 0.109375  ,  0.33333333,  0.33333333, ..., -1.        ,
         0.        ,  0.        ],
       ...,
       [-0.625     ,  0.33333333, -0.66666667, ...,  0.33333333,
         0.5       ,  2.        ],
       [-0.6875    , -0.6       , -0.66666667, ...,  0.33333333,
         0.5       ,  2.        ],
       [-0.609375  , -0.4       , -0.33333333, ...,  0.33333333,
         0.5       ,  2.        ]])

In [125]:
scaler = RobustScaler()
scaled_df_test = scaler.fit_transform(df_test)
scaled_df_test

array([[ 0.140625  ,  0.53333333,  1.        , ...,  0.33333333,
        -0.5       , -0.5       ],
       [ 0.78125   , -0.6       ,  0.        , ..., -1.        ,
         0.5       ,  0.5       ],
       [ 1.359375  ,  0.2       ,  1.33333333, ..., -0.33333333,
         0.        , -0.5       ],
       ...,
       [ 0.        , -0.2       , -0.66666667, ...,  0.33333333,
         0.5       ,  0.5       ],
       [ 0.        , -2.06666667,  0.        , ...,  0.33333333,
        -0.5       , -1.        ],
       [-0.46875   ,  0.33333333, -0.66666667, ..., -0.66666667,
         0.5       ,  1.        ]])

In [141]:
model = LGBMRegressor(learning_rate=0.1, max_depth=8, n_estimators=400, num_leaves=21)
model_lgmb1 = model.fit(scaled_df_train, target)
proped_price1 = model_lgmb1.predict(scaled_df_test)

In [142]:
X_train, X_test, y_train, y_test = train_test_split(scaled_df_train, target, test_size=0.2, random_state=1)
print(f"X_train: {X_train.shape}, X_test: {X_test.shape}, y_train: {y_train.shape}, y_test: {y_test.shape}")

X_train: (32364, 9), X_test: (8091, 9), y_train: (32364,), y_test: (8091,)

In [143]:
model = LGBMRegressor(learning_rate=0.1, max_depth=8, n_estimators=400, num_leaves=21)
model_lgmb3 = model.fit(X_train, y_train)
proped_price3 = model_lgmb3.predict(X_test)

In [144]:
from sklearn.metrics import mean_squared_error
rmse = mean_squared_error(y_test, proped_price3)**0.5
rmse

531.8645353447602

In [130]:
param_grid = {'n_estimators': [16, 32, 64, 128, 256, 512],
              'max_depth': [2, 4, 8, 16]}
grid_search = RandomizedSearchCV(model, 
                                 param_grid, 
                                 cv=5, 
                                 verbose=3, 
                                 scoring='neg_root_mean_squared_error', 
                                 n_jobs=-1)
grid_search.fit(scaled_df_train, target)
proped_price = grid_search.predict(scaled_df_test)

Fitting 5 folds for each of 10 candidates, totalling 50 fits
[CV 5/5] END ..max_depth=2, n_estimators=512;, score=-652.368 total time=   0.3s
[CV 5/5] END .max_depth=16, n_estimators=256;, score=-533.425 total time=   0.4s
[CV 2/5] END ..max_depth=2, n_estimators=128;, score=-709.359 total time=   0.1s
[CV 2/5] END ...max_depth=4, n_estimators=32;, score=-661.446 total time=   0.1s
[CV 2/5] END ...max_depth=8, n_estimators=32;, score=-603.504 total time=   0.1s
[CV 4/5] END ...max_depth=8, n_estimators=64;, score=-561.394 total time=   0.1s
[CV 1/5] END ...max_depth=8, n_estimators=32;, score=-628.166 total time=   0.1s
[CV 5/5] END ..max_depth=4, n_estimators=128;, score=-545.933 total time=   0.2s
[CV 3/5] END ..max_depth=2, n_estimators=256;, score=-691.652 total time=   0.2s
[CV 3/5] END ...max_depth=2, n_estimators=64;, score=-876.617 total time=   0.1s
[CV 4/5] END ...max_depth=2, n_estimators=64;, score=-892.029 total time=   0.1s
[CV 2/5] END ..max_depth=2, n_estimators=128;, score=-709.359 total time=   0.1s
[CV 4/5] END ..max_depth=2, n_estimators=128;, score=-762.984 total time=   0.1s
[CV 4/5] END ...max_depth=4, n_estimators=32;, score=-714.210 total time=   0.1s
Fitting 5 folds for each of 10 candidates, totalling 50 fits
[CV 3/5] END ...max_depth=2, n_estimators=64;, score=-866.582 total time=   0.3s
[CV 2/5] END ...max_depth=2, n_estimators=64;, score=-850.793 total time=   0.3s
[CV 4/5] END ...max_depth=2, n_estimators=64;, score=-886.208 total time=   0.4s
[CV 1/5] END ...max_depth=2, n_estimators=64;, score=-840.381 total time=   0.4s
[CV 5/5] END ...max_depth=2, n_estimators=64;, score=-888.732 total time=   0.4s
[CV 1/5] END ..max_depth=2, n_estimators=256;, score=-663.554 total time=   0.8s
[CV 2/5] END ..max_depth=2, n_estimators=256;, score=-664.110 total time=   0.7s
[CV 5/5] END ..max_depth=2, n_estimators=256;, score=-687.760 total time=   0.8s
[CV 3/5] END ..max_depth=2, n_estimators=256;, score=-674.387 total time=   0.8s
[CV 4/5] END ..max_depth=2, n_estimators=256;, score=-693.723 total time=   0.9s
[CV 4/5] END .max_depth=16, n_estimators=256;, score=-557.240 total time=   1.7s
[CV 1/5] END .max_depth=16, n_estimators=256;, score=-539.007 total time=   1.7s
[CV 3/5] END .max_depth=16, n_estimators=256;, score=-519.523 total time=   1.7s
[CV 5/5] END .max_depth=16, n_estimators=256;, score=-548.633 total time=   1.7s
[CV 2/5] END ...max_depth=8, n_estimators=64;, score=-538.296 total time=   0.6s
[CV 1/5] END ...max_depth=8, n_estimators=64;, score=-546.789 total time=   0.7s
[CV 3/5] END ...max_depth=8, n_estimators=64;, score=-541.851 total time=   0.6s
[CV 4/5] END ...max_depth=8, n_estimators=64;, score=-575.828 total time=   0.6s
[CV 5/5] END ...max_depth=8, n_estimators=64;, score=-553.145 total time=   0.6s
[CV 2/5] END .max_depth=16, n_estimators=256;, score=-524.272 total time=   2.0s
[CV 2/5] END ..max_depth=2, n_estimators=32;, score=-1138.457 total time=   0.2s
[CV 3/5] END ..max_depth=2, n_estimators=32;, score=-1183.952 total time=   0.2s
[CV 1/5] END ..max_depth=2, n_estimators=32;, score=-1147.775 total time=   0.3s
[CV 5/5] END ..max_depth=2, n_estimators=32;, score=-1195.961 total time=   0.2s
[CV 4/5] END ..max_depth=2, n_estimators=32;, score=-1185.777 total time=   0.3s
[CV 2/5] END ..max_depth=8, n_estimators=16;, score=-1031.221 total time=   0.2s
[CV 3/5] END ..max_depth=8, n_estimators=16;, score=-1055.388 total time=   0.3s
[CV 1/5] END ..max_depth=8, n_estimators=16;, score=-1035.058 total time=   0.3s
[CV 5/5] END ..max_depth=8, n_estimators=16;, score=-1081.861 total time=   0.3s
[CV 4/5] END ..max_depth=8, n_estimators=16;, score=-1077.324 total time=   0.3s
[CV 1/5] END .max_depth=16, n_estimators=128;, score=-539.716 total time=   0.9s
[CV 3/5] END .max_depth=16, n_estimators=128;, score=-525.812 total time=   1.1s
[CV 2/5] END .max_depth=16, n_estimators=128;, score=-526.558 total time=   1.2s
[CV 5/5] END .max_depth=16, n_estimators=128;, score=-546.689 total time=   1.1s
[CV 4/5] END .max_depth=16, n_estimators=128;, score=-563.318 total time=   1.2s
[CV 2/5] END ..max_depth=4, n_estimators=256;, score=-526.820 total time=   1.0s
[CV 3/5] END ..max_depth=4, n_estimators=256;, score=-531.385 total time=   1.0s
[CV 1/5] END ..max_depth=4, n_estimators=256;, score=-540.445 total time=   1.2s
[CV 5/5] END ..max_depth=4, n_estimators=256;, score=-550.174 total time=   1.0s
[CV 4/5] END ..max_depth=4, n_estimators=256;, score=-562.300 total time=   1.1s
[CV 1/5] END ..max_depth=4, n_estimators=512;, score=-538.539 total time=   1.5s
[CV 2/5] END ..max_depth=4, n_estimators=512;, score=-519.679 total time=   1.5s
[CV 3/5] END ..max_depth=4, n_estimators=512;, score=-526.329 total time=   1.4s
[CV 5/5] END ..max_depth=4, n_estimators=512;, score=-550.391 total time=   1.3s
[CV 4/5] END ..max_depth=4, n_estimators=512;, score=-555.360 total time=   1.4s
[CV 1/5] END .max_depth=16, n_estimators=512;, score=-545.682 total time=   1.3s
[CV 3/5] END .max_depth=16, n_estimators=512;, score=-522.082 total time=   1.2s
[CV 4/5] END .max_depth=16, n_estimators=512;, score=-557.328 total time=   1.1s
[CV 2/5] END .max_depth=16, n_estimators=512;, score=-529.523 total time=   1.2s
[CV 5/5] END .max_depth=16, n_estimators=512;, score=-556.225 total time=   1.1s
[CV 3/5] END ..max_depth=16, n_estimators=64;, score=-565.179 total time=   0.2s
[CV 4/5] END .max_depth=16, n_estimators=16;, score=-1065.153 total time=   0.1s
[CV 2/5] END ...max_depth=8, n_estimators=64;, score=-522.440 total time=   0.1s
[CV 3/5] END ...max_depth=8, n_estimators=64;, score=-566.154 total time=   0.2s
Fitting 5 folds for each of 10 candidates, totalling 50 fits
[CV 1/5] END ...max_depth=4, n_estimators=32;, score=-677.275 total time=   0.4s
[CV 3/5] END ...max_depth=4, n_estimators=32;, score=-724.231 total time=   0.3s
[CV 2/5] END ...max_depth=4, n_estimators=32;, score=-689.048 total time=   0.4s
[CV 5/5] END ...max_depth=4, n_estimators=32;, score=-689.726 total time=   0.3s
[CV 4/5] END ...max_depth=4, n_estimators=32;, score=-702.971 total time=   0.3s
[CV 3/5] END ..max_depth=2, n_estimators=128;, score=-776.894 total time=   0.4s
[CV 2/5] END ..max_depth=2, n_estimators=128;, score=-735.584 total time=   0.4s
[CV 1/5] END ..max_depth=2, n_estimators=128;, score=-709.614 total time=   0.5s
[CV 4/5] END ..max_depth=2, n_estimators=128;, score=-759.531 total time=   0.5s
[CV 5/5] END ..max_depth=2, n_estimators=128;, score=-745.230 total time=   0.5s
[CV 2/5] END ...max_depth=8, n_estimators=32;, score=-615.259 total time=   0.3s
[CV 1/5] END ...max_depth=8, n_estimators=32;, score=-595.209 total time=   0.4s
[CV 3/5] END ...max_depth=8, n_estimators=32;, score=-644.840 total time=   0.4s
[CV 4/5] END ...max_depth=8, n_estimators=32;, score=-602.612 total time=   0.4s
[CV 5/5] END ...max_depth=8, n_estimators=32;, score=-612.882 total time=   0.4s
[CV 1/5] END .max_depth=16, n_estimators=128;, score=-537.753 total time=   1.1s
[CV 5/5] END .max_depth=16, n_estimators=128;, score=-552.551 total time=   1.1s
[CV 2/5] END .max_depth=16, n_estimators=128;, score=-546.794 total time=   1.2s
[CV 4/5] END .max_depth=16, n_estimators=128;, score=-526.225 total time=   1.2s
[CV 3/5] END .max_depth=16, n_estimators=128;, score=-571.956 total time=   1.3s
[CV 1/5] END .max_depth=16, n_estimators=256;, score=-539.441 total time=   2.1s
[CV 1/5] END ..max_depth=4, n_estimators=128;, score=-554.199 total time=   0.8s
[CV 5/5] END .max_depth=16, n_estimators=256;, score=-554.273 total time=   2.1s
[CV 2/5] END ..max_depth=4, n_estimators=128;, score=-560.854 total time=   0.7s
[CV 4/5] END .max_depth=16, n_estimators=256;, score=-529.214 total time=   2.2s
[CV 4/5] END ..max_depth=4, n_estimators=128;, score=-549.290 total time=   0.7s
[CV 3/5] END .max_depth=16, n_estimators=256;, score=-575.712 total time=   2.2s
[CV 2/5] END .max_depth=16, n_estimators=256;, score=-545.066 total time=   2.2s
[CV 3/5] END ..max_depth=4, n_estimators=128;, score=-589.456 total time=   0.8s
[CV 5/5] END ..max_depth=4, n_estimators=128;, score=-553.680 total time=   0.8s
[CV 1/5] END ..max_depth=4, n_estimators=512;, score=-548.144 total time=   1.6s
[CV 4/5] END ..max_depth=4, n_estimators=512;, score=-535.302 total time=   1.6s

In [131]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(grid_search, 
                         scaled_df_train, 
                         target, 
                         scoring='neg_root_mean_squared_error', 
                         cv=5,
                         n_jobs=-1)

In [132]:
np.mean(-scores)

537.833220088866

In [133]:
X_train, X_test, y_train, y_test = train_test_split(scaled_df_train, target, test_size=0.2, random_state=1)
print(f"X_train: {X_train.shape}, X_test: {X_test.shape}, y_train: {y_train.shape}, y_test: {y_test.shape}")

X_train: (32364, 9), X_test: (8091, 9), y_train: (32364,), y_test: (8091,)

In [146]:
param_grid2 = {'n_estimators': [16, 32, 64, 128, 256, 512],
              'max_depth': [2, 4, 8, 16]}
grid_search2 = RandomizedSearchCV(model, 
                                 param_grid2, 
                                 cv=5, 
                                 verbose=3, 
                                 scoring='neg_root_mean_squared_error', 
                                 n_jobs=-1)

grid_search2.fit(X_train, y_train)
proped_price2 = grid_search2.predict(X_test)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[CV 2/5] END ..max_depth=4, n_estimators=512;, score=-532.500 total time=   2.3s
[CV 4/5] END ...max_depth=8, n_estimators=64;, score=-548.881 total time=   0.5s
[CV 3/5] END ...max_depth=8, n_estimators=64;, score=-575.805 total time=   0.6s
[CV 5/5] END ...max_depth=8, n_estimators=64;, score=-559.997 total time=   0.7s
[CV 1/5] END ..max_depth=2, n_estimators=256;, score=-664.412 total time=   0.9s
[CV 2/5] END ..max_depth=2, n_estimators=256;, score=-669.943 total time=   0.8s
[CV 3/5] END ..max_depth=2, n_estimators=256;, score=-704.345 total time=   0.7s
[CV 4/5] END ..max_depth=2, n_estimators=256;, score=-690.716 total time=   0.7s
[CV 5/5] END ..max_depth=2, n_estimators=256;, score=-689.295 total time=   0.7s
[CV 4/5] END ..max_depth=16, n_estimators=32;, score=-621.946 total time=   0.1s
[CV 1/5] END ...max_depth=8, n_estimators=32;, score=-607.032 total time=   0.1s
[CV 3/5] END ...max_depth=2, n_estimators=64;, score=-876.617 total time=   0.1s
[CV 4/5] END ...max_depth=2, n_estimators=64;, score=-892.029 total time=   0.1s
[CV 4/5] END .max_depth=16, n_estimators=512;, score=-545.709 total time=   0.9s
Fitting 5 folds for each of 10 candidates, totalling 50 fits
[CV 1/5] END ..max_depth=2, n_estimators=32;, score=-1147.775 total time=   0.2s
[CV 2/5] END ..max_depth=2, n_estimators=32;, score=-1138.457 total time=   0.2s
[CV 5/5] END ..max_depth=2, n_estimators=32;, score=-1195.961 total time=   0.2s
[CV 3/5] END ..max_depth=2, n_estimators=32;, score=-1183.952 total time=   0.2s
[CV 4/5] END ..max_depth=2, n_estimators=32;, score=-1185.777 total time=   0.2s
[CV 1/5] END ...max_depth=8, n_estimators=64;, score=-542.303 total time=   0.5s
[CV 3/5] END ...max_depth=8, n_estimators=64;, score=-534.972 total time=   0.6s
[CV 2/5] END ...max_depth=8, n_estimators=64;, score=-530.459 total time=   0.6s
[CV 4/5] END ...max_depth=8, n_estimators=64;, score=-564.680 total time=   0.7s
[CV 5/5] END ...max_depth=8, n_estimators=64;, score=-549.089 total time=   0.7s
[CV 1/5] END ..max_depth=16, n_estimators=64;, score=-541.217 total time=   0.6s
[CV 2/5] END ..max_depth=16, n_estimators=64;, score=-532.982 total time=   0.7s
[CV 5/5] END ..max_depth=16, n_estimators=64;, score=-546.994 total time=   0.6s
[CV 3/5] END ..max_depth=16, n_estimators=64;, score=-535.389 total time=   0.7s
[CV 4/5] END ..max_depth=16, n_estimators=64;, score=-563.699 total time=   0.7s
[CV 4/5] END ..max_depth=2, n_estimators=512;, score=-653.775 total time=   1.4s
[CV 5/5] END ..max_depth=2, n_estimators=512;, score=-645.216 total time=   1.5s
[CV 3/5] END ..max_depth=2, n_estimators=512;, score=-632.841 total time=   1.5s
[CV 2/5] END ..max_depth=2, n_estimators=512;, score=-633.803 total time=   1.6s
[CV 1/5] END ..max_depth=2, n_estimators=512;, score=-630.467 total time=   1.6s
[CV 1/5] END ..max_depth=4, n_estimators=16;, score=-1100.567 total time=   0.2s
[CV 1/5] END ..max_depth=2, n_estimators=256;, score=-663.554 total time=   0.7s
[CV 2/5] END ..max_depth=4, n_estimators=16;, score=-1097.825 total time=   0.3s
[CV 2/5] END ..max_depth=2, n_estimators=256;, score=-664.110 total time=   0.8s
[CV 4/5] END ..max_depth=4, n_estimators=16;, score=-1144.779 total time=   0.3s
[CV 3/5] END ..max_depth=4, n_estimators=16;, score=-1150.172 total time=   0.3s
[CV 5/5] END ..max_depth=4, n_estimators=16;, score=-1145.786 total time=   0.3s
[CV 4/5] END ..max_depth=2, n_estimators=256;, score=-693.723 total time=   0.8s
[CV 3/5] END ..max_depth=2, n_estimators=256;, score=-674.387 total time=   0.9s
[CV 5/5] END ..max_depth=2, n_estimators=256;, score=-687.760 total time=   0.9s
[CV 2/5] END ..max_depth=16, n_estimators=32;, score=-590.335 total time=   0.4s
[CV 1/5] END ..max_depth=16, n_estimators=32;, score=-598.071 total time=   0.5s
[CV 1/5] END ...max_depth=4, n_estimators=32;, score=-672.687 total time=   0.3s
[CV 3/5] END ..max_depth=16, n_estimators=32;, score=-604.442 total time=   0.4s
[CV 5/5] END ..max_depth=16, n_estimators=32;, score=-611.306 total time=   0.4s
[CV 2/5] END ...max_depth=4, n_estimators=32;, score=-674.347 total time=   0.3s
[CV 4/5] END ..max_depth=16, n_estimators=32;, score=-629.002 total time=   0.4s
[CV 4/5] END ...max_depth=4, n_estimators=32;, score=-716.224 total time=   0.3s
[CV 5/5] END ...max_depth=4, n_estimators=32;, score=-701.081 total time=   0.3s
[CV 3/5] END ...max_depth=4, n_estimators=32;, score=-691.151 total time=   0.4s
[CV 2/5] END ..max_depth=4, n_estimators=128;, score=-536.358 total time=   0.6s
[CV 4/5] END ..max_depth=4, n_estimators=128;, score=-579.035 total time=   0.7s
[CV 1/5] END ..max_depth=4, n_estimators=128;, score=-551.241 total time=   0.7s
[CV 3/5] END ..max_depth=4, n_estimators=128;, score=-541.404 total time=   0.7s
[CV 5/5] END ..max_depth=4, n_estimators=128;, score=-555.900 total time=   0.7s
[CV 1/5] END ..max_depth=4, n_estimators=256;, score=-540.445 total time=   1.1s
[CV 5/5] END ..max_depth=4, n_estimators=256;, score=-550.174 total time=   1.1s
[CV 2/5] END ..max_depth=4, n_estimators=256;, score=-526.820 total time=   1.1s
[CV 3/5] END ..max_depth=4, n_estimators=256;, score=-531.385 total time=   1.1s
[CV 4/5] END ..max_depth=4, n_estimators=256;, score=-562.300 total time=   1.1s
[CV 4/5] END ..max_depth=4, n_estimators=512;, score=-542.185 total time=   0.5s
[CV 1/5] END .max_depth=16, n_estimators=16;, score=-1062.462 total time=   0.1s
[CV 2/5] END .max_depth=16, n_estimators=256;, score=-549.957 total time=   0.4s
[CV 3/5] END ..max_depth=16, n_estimators=32;, score=-638.082 total time=   0.1s
[CV 5/5] END ..max_depth=4, n_estimators=128;, score=-545.061 total time=   0.2s
[CV 3/5] END ...max_depth=8, n_estimators=64;, score=-566.154 total time=   0.2s
[CV 3/5] END ..max_depth=8, n_estimators=16;, score=-1034.002 total time=   0.1s
[CV 3/5] END ..max_depth=8, n_estimators=128;, score=-557.661 total time=   0.3s
[CV 4/5] END ..max_depth=8, n_estimators=128;, score=-541.262 total time=   0.3s
[CV 2/5] END ..max_depth=16, n_estimators=64;, score=-523.862 total time=   0.1s
Fitting 5 folds for each of 10 candidates, totalling 50 fits
[CV 5/5] END ..max_depth=8, n_estimators=16;, score=-1038.718 total time=   0.2s
[CV 2/5] END ...max_depth=8, n_estimators=16;, score=-989.910 total time=   0.3s
[CV 4/5] END ..max_depth=8, n_estimators=16;, score=-1043.818 total time=   0.3s
[CV 3/5] END ..max_depth=8, n_estimators=16;, score=-1043.031 total time=   0.3s
[CV 1/5] END ...max_depth=8, n_estimators=16;, score=-994.835 total time=   0.3s
[CV 5/5] END ..max_depth=8, n_estimators=128;, score=-549.297 total time=   1.0s
[CV 2/5] END ..max_depth=8, n_estimators=128;, score=-526.387 total time=   1.1s
[CV 3/5] END ..max_depth=8, n_estimators=128;, score=-556.033 total time=   1.1s
[CV 1/5] END ..max_depth=8, n_estimators=128;, score=-538.640 total time=   1.1s
[CV 4/5] END ..max_depth=8, n_estimators=128;, score=-536.713 total time=   1.2s
[CV 5/5] END .max_depth=16, n_estimators=128;, score=-548.120 total time=   1.1s
[CV 4/5] END .max_depth=16, n_estimators=128;, score=-535.783 total time=   1.1s
[CV 3/5] END .max_depth=16, n_estimators=128;, score=-558.390 total time=   1.2s
[CV 1/5] END .max_depth=16, n_estimators=128;, score=-537.327 total time=   1.2s
[CV 2/5] END .max_depth=16, n_estimators=128;, score=-529.201 total time=   1.3s
[CV 4/5] END ..max_depth=2, n_estimators=512;, score=-649.874 total time=   1.3s
[CV 5/5] END ..max_depth=2, n_estimators=512;, score=-654.036 total time=   1.3s
[CV 3/5] END ..max_depth=2, n_estimators=512;, score=-663.577 total time=   1.4s
[CV 1/5] END ..max_depth=2, n_estimators=512;, score=-635.893 total time=   1.5s
[CV 2/5] END ..max_depth=4, n_estimators=128;, score=-538.925 total time=   0.5s
[CV 3/5] END ..max_depth=4, n_estimators=128;, score=-575.591 total time=   0.6s
[CV 1/5] END ..max_depth=4, n_estimators=128;, score=-554.957 total time=   0.6s
[CV 4/5] END ..max_depth=4, n_estimators=128;, score=-551.326 total time=   0.6s
[CV 2/5] END ..max_depth=2, n_estimators=512;, score=-646.936 total time=   2.2s
[CV 4/5] END .max_depth=16, n_estimators=512;, score=-540.537 total time=   4.2s

[CV 3/5] END .max_depth=16, n_estimators=512;, score=-568.057 total time=   4.3s[CV 1/5] END ..max_depth=8, n_estimators=512;, score=-542.815 total time=   0.7s
[CV 2/5] END ..max_depth=8, n_estimators=128;, score=-516.816 total time=   0.2s
[CV 4/5] END .max_depth=16, n_estimators=512;, score=-543.376 total time=   0.7s
Fitting 5 folds for each of 10 candidates, totalling 50 fits
[CV 5/5] END ..max_depth=16, n_estimators=32;, score=-637.191 total time=   0.2s
[CV 2/5] END ..max_depth=16, n_estimators=32;, score=-617.358 total time=   0.3s
[CV 3/5] END ..max_depth=16, n_estimators=32;, score=-634.470 total time=   0.3s
[CV 4/5] END ..max_depth=16, n_estimators=32;, score=-671.967 total time=   0.4s
[CV 1/5] END ..max_depth=16, n_estimators=32;, score=-618.425 total time=   0.4s
[CV 1/5] END ..max_depth=4, n_estimators=512;, score=-537.354 total time=   2.2s
[CV 2/5] END ..max_depth=4, n_estimators=512;, score=-534.827 total time=   2.2s
[CV 3/5] END ..max_depth=4, n_estimators=512;, score=-526.765 total time=   2.2s
[CV 5/5] END ..max_depth=4, n_estimators=512;, score=-539.206 total time=   2.3s
[CV 4/5] END ..max_depth=4, n_estimators=512;, score=-575.940 total time=   2.3s
[CV 5/5] END ..max_depth=8, n_estimators=512;, score=-544.232 total time=   3.0s
[CV 1/5] END ..max_depth=8, n_estimators=512;, score=-535.627 total time=   3.1s
[CV 3/5] END ..max_depth=8, n_estimators=512;, score=-522.411 total time=   3.1s
[CV 4/5] END ..max_depth=8, n_estimators=512;, score=-577.122 total time=   3.3s
[CV 2/5] END ..max_depth=8, n_estimators=512;, score=-529.844 total time=   3.3s
[CV 1/5] END ..max_depth=4, n_estimators=256;, score=-543.172 total time=   1.2s
[CV 2/5] END ..max_depth=4, n_estimators=256;, score=-536.063 total time=   1.3s
[CV 5/5] END ..max_depth=4, n_estimators=256;, score=-541.510 total time=   1.2s
[CV 3/5] END ..max_depth=4, n_estimators=256;, score=-536.348 total time=   1.3s
[CV 4/5] END ..max_depth=4, n_estimators=256;, score=-579.482 total time=   1.3s
[CV 1/5] END ...max_depth=8, n_estimators=64;, score=-546.553 total time=   0.4s
[CV 2/5] END ...max_depth=8, n_estimators=64;, score=-539.591 total time=   0.4s
[CV 3/5] END ...max_depth=8, n_estimators=64;, score=-548.573 total time=   0.4s
[CV 1/5] END ..max_depth=2, n_estimators=16;, score=-1552.887 total time=   0.1s
[CV 4/5] END ...max_depth=8, n_estimators=64;, score=-593.411 total time=   0.4s
[CV 2/5] END ..max_depth=2, n_estimators=16;, score=-1520.622 total time=   0.1s
[CV 5/5] END ...max_depth=8, n_estimators=64;, score=-553.065 total time=   0.4s
[CV 4/5] END ..max_depth=2, n_estimators=16;, score=-1590.791 total time=   0.1s
[CV 5/5] END ..max_depth=2, n_estimators=16;, score=-1618.288 total time=   0.1s
[CV 3/5] END ..max_depth=2, n_estimators=16;, score=-1599.916 total time=   0.2s
[CV 3/5] END ..max_depth=8, n_estimators=256;, score=-524.923 total time=   1.3s
[CV 1/5] END ..max_depth=8, n_estimators=256;, score=-535.579 total time=   1.4s
[CV 4/5] END ..max_depth=8, n_estimators=256;, score=-576.181 total time=   1.3s
[CV 2/5] END ..max_depth=8, n_estimators=256;, score=-528.244 total time=   1.5s
[CV 5/5] END ..max_depth=8, n_estimators=256;, score=-540.975 total time=   1.3s
[CV 2/5] END .max_depth=16, n_estimators=16;, score=-1031.576 total time=   0.1s
[CV 1/5] END .max_depth=16, n_estimators=16;, score=-1027.491 total time=   0.2s
[CV 3/5] END .max_depth=16, n_estimators=16;, score=-1049.560 total time=   0.1s
[CV 4/5] END .max_depth=16, n_estimators=16;, score=-1095.654 total time=   0.1s
[CV 5/5] END .max_depth=16, n_estimators=16;, score=-1091.599 total time=   0.1s
[CV 1/5] END ..max_depth=2, n_estimators=256;, score=-661.991 total time=   0.4s
[CV 1/5] END ...max_depth=8, n_estimators=32;, score=-617.782 total time=   0.1s
[CV 3/5] END ...max_depth=8, n_estimators=32;, score=-631.645 total time=   0.1s
[CV 4/5] END ...max_depth=8, n_estimators=32;, score=-672.245 total time=   0.1s
[CV 2/5] END ...max_depth=8, n_estimators=32;, score=-617.358 total time=   0.1s
[CV 2/5] END ..max_depth=2, n_estimators=256;, score=-662.826 total time=   0.5s
[CV 3/5] END ..max_depth=2, n_estimators=256;, score=-679.285 total time=   0.4s
[CV 4/5] END ..max_depth=2, n_estimators=256;, score=-704.767 total time=   0.4s
[CV 5/5] END ...max_depth=8, n_estimators=32;, score=-637.191 total time=   0.1s
[CV 5/5] END ..max_depth=2, n_estimators=256;, score=-686.275 total time=   0.4s
[CV 1/5] END .max_depth=16, n_estimators=256;, score=-545.575 total time=   0.4s
[CV 1/5] END ..max_depth=8, n_estimators=128;, score=-545.184 total time=   0.2s
[CV 2/5] END ..max_depth=8, n_estimators=128;, score=-516.816 total time=   0.2s
[CV 2/5] END ...max_depth=4, n_estimators=32;, score=-661.446 total time=   0.1s
Fitting 5 folds for each of 10 candidates, totalling 50 fits
[CV 3/5] END ..max_depth=16, n_estimators=64;, score=-582.649 total time=   0.4s
[CV 1/5] END ..max_depth=16, n_estimators=64;, score=-505.523 total time=   0.4s
[CV 2/5] END ..max_depth=16, n_estimators=64;, score=-564.452 total time=   0.5s
[CV 5/5] END ..max_depth=16, n_estimators=64;, score=-560.719 total time=   0.6s
[CV 4/5] END ..max_depth=16, n_estimators=64;, score=-538.528 total time=   0.6s
[CV 1/5] END ..max_depth=2, n_estimators=16;, score=-1510.229 total time=   0.3s
[CV 3/5] END ..max_depth=2, n_estimators=16;, score=-1627.634 total time=   0.2s
[CV 2/5] END ..max_depth=2, n_estimators=16;, score=-1569.389 total time=   0.2s
[CV 5/5] END ..max_depth=2, n_estimators=16;, score=-1600.675 total time=   0.2s
[CV 4/5] END ..max_depth=2, n_estimators=16;, score=-1648.963 total time=   0.3s
[CV 1/5] END .max_depth=16, n_estimators=16;, score=-1009.645 total time=   0.3s
[CV 4/5] END .max_depth=16, n_estimators=16;, score=-1080.187 total time=   0.2s
[CV 3/5] END .max_depth=16, n_estimators=16;, score=-1098.520 total time=   0.2s
[CV 5/5] END .max_depth=16, n_estimators=16;, score=-1079.960 total time=   0.2s
[CV 2/5] END .max_depth=16, n_estimators=16;, score=-1045.824 total time=   0.3s
[CV 2/5] END ..max_depth=4, n_estimators=256;, score=-561.129 total time=   1.2s
[CV 1/5] END ..max_depth=4, n_estimators=256;, score=-510.191 total time=   1.3s
[CV 3/5] END ..max_depth=4, n_estimators=256;, score=-571.841 total time=   1.3s
[CV 5/5] END ..max_depth=4, n_estimators=256;, score=-551.417 total time=   1.2s
[CV 4/5] END ..max_depth=4, n_estimators=256;, score=-536.415 total time=   1.4s
[CV 2/5] END ..max_depth=8, n_estimators=256;, score=-548.092 total time=   1.6s
[CV 1/5] END ..max_depth=8, n_estimators=256;, score=-494.941 total time=   1.6s
[CV 4/5] END ..max_depth=8, n_estimators=256;, score=-519.043 total time=   1.6s
[CV 5/5] END ..max_depth=8, n_estimators=256;, score=-550.235 total time=   1.7s
[CV 2/5] END .max_depth=16, n_estimators=256;, score=-549.623 total time=   1.5s
[CV 3/5] END ..max_depth=8, n_estimators=256;, score=-566.741 total time=   1.7s
[CV 1/5] END .max_depth=16, n_estimators=256;, score=-493.248 total time=   1.6s
[CV 3/5] END .max_depth=16, n_estimators=256;, score=-565.305 total time=   1.7s
[CV 4/5] END .max_depth=16, n_estimators=256;, score=-517.939 total time=   1.7s
[CV 5/5] END .max_depth=16, n_estimators=256;, score=-546.581 total time=   1.6s
[CV 3/5] END ..max_depth=4, n_estimators=128;, score=-584.003 total time=   0.6s
[CV 2/5] END ..max_depth=4, n_estimators=128;, score=-571.409 total time=   0.7s
[CV 1/5] END ..max_depth=4, n_estimators=128;, score=-518.016 total time=   0.7s
[CV 5/5] END ..max_depth=4, n_estimators=128;, score=-559.351 total time=   0.6s
[CV 4/5] END ..max_depth=4, n_estimators=128;, score=-545.894 total time=   0.6s
[CV 1/5] END .max_depth=16, n_estimators=128;, score=-495.184 total time=   0.8s
[CV 1/5] END ...max_depth=4, n_estimators=64;, score=-536.945 total time=   0.3s
[CV 2/5] END .max_depth=16, n_estimators=128;, score=-554.132 total time=   0.7s
[CV 2/5] END ...max_depth=4, n_estimators=64;, score=-596.576 total time=   0.3s
[CV 3/5] END ...max_depth=4, n_estimators=64;, score=-609.645 total time=   0.3s
[CV 4/5] END ...max_depth=4, n_estimators=64;, score=-572.809 total time=   0.3s
[CV 5/5] END ...max_depth=4, n_estimators=64;, score=-582.427 total time=   0.3s
[CV 4/5] END .max_depth=16, n_estimators=128;, score=-522.716 total time=   0.6s

In [147]:
from sklearn.metrics import mean_squared_error
rmse = mean_squared_error(y_test, proped_price2)**0.5
rmse

531.116638102563

In [145]:
submission = pd.DataFrame({"price":proped_price3})
submission = submission.reset_index().rename(columns={"index": "id"})
submission.to_csv('Modelo 10[proped_price3].csv', index=False)

df = pd.read_csv("Modelo 4.csv")
df